//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Zona de Aprendizaje - Resultados de busqueda :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('Zona de Aprendizaje')
      //Sección de Post - Zona de Aprendizaje
      section#pg-post.main-content.container
        .row
          .search-learn-results.col-md-9
            h2.text-uppercase Resultados de Búsqueda
            .list-learn-results.widget
              h2 "Correo"
              ul.article-list
                li
                  a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                  .meta-learn 
                    span
                      i.fa.fa-comments
                      | 123
                    small /
                    span
                      i.fa.fa-heart
                      | 321
                li
                  a(href="aprendizaje-articulo.html") Configurar Correo en Eudora
                  .meta-learn 
                    span
                      i.fa.fa-comments
                      | 123
                    small /
                    span
                      i.fa.fa-heart
                      | 321
                li
                  a(href="aprendizaje-articulo.html") Manejar Base de Datos con PHPMyAdmin
                  .meta-learn 
                    span
                      i.fa.fa-comments
                      | 123
                    small /
                    span
                      i.fa.fa-heart
                      | 321
                li
                  a(href="aprendizaje-articulo.html") Manejar Base de Datos con PHPMyAdmin
                  .meta-learn 
                    span
                      i.fa.fa-comments
                      | 123
                    small /
                    span
                      i.fa.fa-heart
                      | 321

                li
                  a(href="aprendizaje-articulo.html") Configurar Correo en Outlook 2007
                  .meta-learn 
                    span
                      i.fa.fa-comments
                      | 123
                    small /
                    span
                      i.fa.fa-heart
                      | 321
                
          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Post de Zona de aprendizaje
          include ./include/sidebar-aprendizaje.jade
          
    // Footer 
    include ./include/footer.jade