//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Zona de Aprendizaje - Titulo de articulo :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('ZONA DE APRENDIZAJE')
      //Sección de Post
      section#pg-post.main-content.container
        .row
          .post-entry.col-md-9
              h3.title-entry: a(href="#") TÍTULO ARTÍCULO 2017 CHRYSLER PACIFICA
              .post-meta
                span
                  i.fa.fa-calendar(aria-hidden='true')
                  | Abril 08, 2016
                small /
                span
                  i.fa.fa-comments(aria-hidden='true')
                  | 123
                small /
                span
                  i.fa.fa-heart(aria-hidden='true')
                  | 321
                small /
                span.category
                  i.fa.fa-folder(aria-hidden='true')
                  a(href='aprendizaje-category-search.html', rel='category tag') Categoría 1
              
              .post-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p.text-center: img(src="../img/img_articulo.jpg" alt="Título del Post")
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  a(href="#") Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                  | Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p
                  em “Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.”
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                h5 SUBTÍTULO
                ul.list-circle
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  li Aenean euismod bibendum laoreet. 
                  li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  li Proin sodales pulvinar tempor. 
                  li Cum sociis natoque penatibus et magnis dis parturient montes.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

                .post-utility
                  | ¿Te ayudo este articulo?
                  a.useful(href="#") Si
                  a.useless(href="#") No
              
              //Post similares de Aprendizaje. Categoría del mismo elemento
              .category-learn.widget
                h2 Artículos relacionados
                ul.article-list
                  li
                    a(href="#") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Configurar Correo en Eudora
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Manejar Base de Datos con PHPMyAdmin
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="#") Manejar Base de Datos con PHPMyAdmin
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321

                  li
                    a(href="#") Configurar Correo en Outlook 2007
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321

              //Lista de Comentarios         
              .post-comments
                h3.widget-title Comentarios
                ul.comment-list
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-thumbs-down  
                            | 5
                        a.reply(href="#") Responder

                      //Respuesta a comentario
                    ul.comments-reply
                      li
                        .comment
                          h5 WALTHER AYALA
                            span.time Ago. 08, 2016
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                          .meta-data
                            .value
                              span
                                a.fa.fa-thumbs-up 
                                | 12
                              span
                                a.fa.fa-thumbs-down  
                                | 5
                            a.reply(href="#") Responder
                  //-Comentario 2
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-thumbs-down  
                            | 5
                        a.reply(href="#") Responder

                //-Fin UL
                .more-comments
                  a.btn-special.btn-primary(href="#") Cargar más comentarios
              
              //-Sección para Formulario de comentarios
              .leave-comment
                h3.widget-title ENVÍANOS TUS COMENTARIOS
                form.comment-form
                  p.form-inline.clearfix
                    input.form-control(type="text", placeholder="Nombre")
                    input.form-control(type="text", placeholder="Apellidos")
                  p: input.form-control(type="email", placeholder="Correo electrónico")
                  p: textarea.form-control(placeholder="Deja aquí tu comentario")
                  p.text-right: input.btn.btn-default(type="submit", value="Enviar comentario")

          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Post de Zona de Aprendizaje
          include ./include/sidebar-aprendizaje.jade
          
    // Footer 
    include ./include/footer.jade