//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Blog  :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('Blog Hosting A1')
      //Sección de Blog
      section#pg-blog.main-content.container
        .row
          .list-posts.col-md-9
            .posts-here
              .item-post
                h3.title-entry: a(href="#") 2017 CHRYSLER PACIFICA
                .post-meta
                  span
                    i.fa.fa-calendar(aria-hidden='true')
                    | Abril 08, 2016
                  small /
                  span
                    i.fa.fa-comments(aria-hidden='true')
                    | 123
                  small /
                  span
                    i.fa.fa-heart(aria-hidden='true')
                    | 321
                  small /
                  span.category
                    i.fa.fa-folder(aria-hidden='true')
                    a(href='#', rel='category tag') Categoría 1
                .post-media
                  a(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post")
                p.post-extract
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.
                .post-more.text-right
                  | Compartir
                  a(href='#', title="Compártelo en Facebook"): i.fa.fa-facebook(aria-hidden='true')
                  a(href='#', title="Compártelo en Twitter"): i.fa.fa-twitter(aria-hidden='true')
                  a(href='#', title="Compártelo en Google Plus"): i.fa.fa-google(aria-hidden='true')
                  span: a(href='#').btn.btn-primary Leer Más

              .item-post
                h3.title-entry: a(href="#") 2017 CHRYSLER PACIFICA
                .post-meta
                  span
                    i.fa.fa-calendar(aria-hidden='true')
                    | Abril 08, 2016
                  small /
                  span
                    i.fa.fa-comments(aria-hidden='true')
                    | 123
                  small /
                  span
                    i.fa.fa-heart(aria-hidden='true')
                    | 321
                  small /
                  span.category
                    i.fa.fa-folder(aria-hidden='true')
                    a(href='#', rel='category tag') Categoría 1
                .post-media
                  a(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Titulo del Post")
                p.post-extract
                  |  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque. Facere nobis, dolorum sit sapiente recusandae, dignissimos, nulla vel nesciunt explicabo quasi dolorem eligendi non odio omnis veniam voluptates voluptatem tenetur neque.
                .post-more.text-right
                  | Compartir
                  a(href='#', title="Compártelo en Facebook"): i.fa.fa-facebook(aria-hidden='true')
                  a(href='#', title="Compártelo en Twitter"): i.fa.fa-twitter(aria-hidden='true')
                  a(href='#', title="Compártelo en Google Plus"): i.fa.fa-google(aria-hidden='true')
                  span: a(href='#').btn.btn-primary Leer Más
            
            //-Paginacion
            .post-nav
              span.nav-prev
                a.prev.btn-special.btn-primary(href='#') Anterior
              span.current.nav-number 1
              a.nav-number(href='#', title='2') 2
              a.nav-number(href='#', title='2') 3
              a.nav-number(href='#', title='2') 4
              a.nav-number(href='#', title='2') 5
              a.nav-number(href='#', title='2') 6
              a.nav-number(href='#', title='2') 7
              a.nav-number(href='#', title='2') 8          
              span.nav-next
                a.next.btn-special.btn-primary(href='#') Siguiente
          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Blog
          include ./include/sidebar.jade

    // Footer 
    include ./include/footer.jade