//- Importación de mixins iniciales 
include ./include/mixins.jade
//- ********************************
doctype html
html(lang='es')
  head
    +head('Hosting Reseller (Revendedores) :: HOSTING A1')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //ID de section de acuerdo al nombre de la página
      section#pg-hosting.main-content
        //Planes de Hosting
        .hosting-plan.price-plans
          .container
            h2.text-primary QUE ESPERAS PARA
            h1 INICIAR TU NEGOCIO DE HOSTING
            table.table.plan-precios
              thead
                tr
                  th
                  th Espacio almc.
                  th Transf x mes
                  th Cuentas email 
              tbody
                tr
                  td.bg-gray-02  básico
                  td.almc.bg-gray-02
                    | 500
                    small MB
                  td.transf.bg-gray-02
                    | 3
                    small GB
                  td.email.bg-gray-02
                    | 15
                  td.price 
                    span.igv IGV incluido*
                    span.moneda S/.
                    | 99.00
                    small X AÑO 
                  td.buy
                    a.btn.btn-primary(href="#") COMPRAR
                
                tr
                  td.bg-gray-02  AVANZADO
                  td.almc.bg-gray-02
                    | 1
                    small GB
                  td.transf.bg-gray-02
                    | 5
                    small GB
                  td.email.bg-gray-02
                    | 20
                  td.price 
                    span.igv IGV incluido*
                    span.moneda S/.
                    | 125.00
                    small X AÑO 
                  td.buy
                    a.btn.btn-primary(href="#") COMPRAR
                
                tr.recomendado
                  td.bg-gray-02  
                    img.esquina(src="../img/esquina_plan.png")
                    | Profesional
                  td.almc.bg-gray-02
                    | 2
                    small GB
                  td.transf.bg-gray-02
                    | 10
                    small GB
                  td.email.bg-gray-02
                    | 30
                  td.price
                    span.igv IGV incluido*
                    span.moneda S/.
                    | 300.00
                    small X AÑO 
                  td.buy
                    a.btn.btn-primary(href="#") COMPRAR

                tr
                  td.bg-gray-02  Premium
                  td.almc.bg-gray-02
                    | 3
                    small GB
                  td.transf.bg-gray-02
                    | 30
                    small GB
                  td.email.bg-gray-02
                    | 60
                  td.price 
                    span.igv IGV incluido*
                    span.moneda S/.
                    | 500.00
                    small X AÑO 
                  td.buy
                    a.btn.btn-primary(href="#") COMPRAR

                tr
                  td.bg-gray-02  Corporativo
                  td.almc.bg-gray-02
                    | 5
                    small GB
                  td.transf.bg-gray-02
                    | 50
                    small GB
                  td.email.bg-gray-02
                    | 200
                  td.price
                    span.igv IGV incluido* 
                    span.moneda S/.
                    | 999.00
                    small X AÑO 
                  td.buy
                    a.btn.btn-primary(href="#") COMPRAR
                
        
        
            p.more 
               a.to-table(href="#table-features")  * Ver todas las caracteristicas
            h5.text-center ¿QUIERES SABER CUAL ES EL PLAN QUE SE ADAPTA A TUS NECESIDADES?
            p.text-center
              a#to-chat.btn.btn-primary(type='button')
                i.fa.fa-comment 
                |  HABLAR CON UN EXPERTO
        
        
        //Sección de Banner
        .hosting-banner
          //-Incluir el Banner simple. ya contiene container
          include ./include/banner-simple.jade
        
        //Sección Beneficios
        .section-benefits
          .container
            h2 Nuestros Beneficios
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim iste provident vitae exercitationem assumenda aliquid ad, culpa sint doloremque voluptatem animi totam rerum velit, maiores non. Unde, amet illum?
            .row  
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
            .row  
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
    
        //Sección  de Ofertas 
        .hosting-offers.offers-content
          .container
            +item-offers-right('ADEMAS TE AFRECEMOS', '../img/hosting_img.jpg')
            +item-offers-left('../img/hosting_img.jpg', 'Y ESO NO ES TODO')
              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

        //Sección FAQ
        .section-faq
          .container
            h2 PREGUNTAS FRECUENTES
                //-Item de FAQ con la siguiente estructura:
                //- mixin item-FAQ-open(number, title)   
            +item-FAQ-open(1, '¿Qué es un dominio?') 
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi beatae molestias esse, aliquam similique architecto at omnis vel, neque, suscipit vero totam eveniet. Illum, distinctio atque modi autem at doloremque!
              h5.subtitle SUBTITULO
              ul.list-circle
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.  
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              h5.subtitle SUBTITULO
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
      
            +item-FAQ-close(2, '¿Cómo registro mi dominio?')
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam inventore ex, placeat obcaecati dolorem blanditiis harum quam qui officia consequuntur quae laborum, doloremque quaerat nisi impedit exercitationem illum expedita!
                ol.list-numbered
                  li lorem ipsum
                  li lorem ipsum
                  li lorem ipsum
                
            +item-FAQ-close(3, '¿En qué formas puedo pagar mi dominio?')
            +item-FAQ-close(4, 'Tengo registrado mi dominio con otro proveedor. ¿Es factible cambiarme a HOSTING A1 para que sea mi Registrante?')
        
        //Sección Hero de Hosting
        .hero-hosting.hero
          .container
            //-.wrapper-content
            .hero-content.text-center
              h1.text-center TODOS NUESTROS PLANES
              .price-plan.btn-group
                button.btn.btn-input(type='button')
                  span.text-primary 1 año 
                  |- S/.
                  span.text-primary 14.00 
                  | al mes
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.list-price.dropdown-menu
                  li
                    a(href='#')
                      span.text-primary 1 año 
                      | - S/.
                      span.text-primary 14.00 
                      | al mes
                  li
                    a(href='#')
                      span.text-primary 2 años 
                      | - S/.
                      span.text-primary 12.00 
                      | al mes
                span.igv IGV incluido*

              a.btn.btn-primary(href="#")
                i.fa.fa-shopping-cart 
                |  COMPRAR
                
              p.info Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,<br> totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        
        //Sección de Características de Planes
        .hosting-features.table-features#table-features
          .container
            h2 TODAS LAS CARACTERISTICAS DE NUESTROS PLANES
            table.table.table-striped
              thead
                tr
                  th 
                  th BÁSICO
                  th AVANZADO
                  th PROFESIONAL
                  th PREMIUM
                  th CORPORATIV0
              tbody
                //-table-feature-row(caracteristica,basico, avanzado, profesional, premium, corporativo)
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
              tfoot
                tr
                  td 
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir 
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 
            //- Include de Formas de Págo
        include ./include/section-way-pay.jade
    // Footer 
    include ./include/footer.jade  
