//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es-PE')
  head
    +head('HOSTING A1 :: Empresa de Hosting, Alojamiento de Páginas Web en América Latina y Registro de Dominios en Internet')
    
  body
    //header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //SECCION INICIO
      section#pg-home.main-content
        //sección de slider principal
        .main-slider-section.hero
          #main-slider.carousel.slide(data-ride='carousel')
            // Indicators
            ol.carousel-indicators
              li.active(data-target='#main-slider', data-slide-to='0')
              li(data-target='#main-slider', data-slide-to='1')
              li(data-target='#main-slider', data-slide-to='2')
              li(data-target='#main-slider', data-slide-to='3')
            // Wrapper for slides
            .carousel-inner(role='listbox')
              .slide-01.item.active
                .container
                  .wrapper-content
                    .hero-content
                      h2.text-primary EN SEPTIEMBRE
                      H1  HOSTING WORDPRESS
                        br
                        span.text-primary
                          | 50%
                          small DE DESCUENTO
                      div.info CÓDIGO: AYUDAWP
                       br
                       | The atmosphere in Chania has a touch of Florence and Venice.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      a.btn.btn-primary(href="#")  Adquirir ahora
              .slide-02.item
                .container
                  .wrapper-content
                    .hero-content
                      h2.text-primary EN SEPTIEMBRE
                      H1  HOSTING WORDPRESS
                        br
                        span.text-primary
                          | 50%
                          small DE DESCUENTO
                      div.info CÓDIGO: AYUDAWP
                       br
                       | The atmosphere in Chania has a touch of Florence and Venice.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      a.btn.btn-primary(href="#")  Adquirir ahora
              .slide-03.item
                .container
                  .wrapper-content
                    .hero-content
                      h2.text-primary EN SEPTIEMBRE
                      H1  HOSTING WORDPRESS
                        br
                        span.text-primary
                          | 50%
                          small DE DESCUENTO
                      div.info CÓDIGO: AYUDAWP
                       br
                       | The atmosphere in Chania has a touch of Florence and Venice.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      a.btn.btn-primary(href="#")  Adquirir ahora
              .slide-04.item
                .container
                  .wrapper-content
                    .hero-content
                      h2.text-primary EN SEPTIEMBRE
                      H1  HOSTING WORDPRESS
                        br
                        span.text-primary
                          | 50%
                          small DE DESCUENTO
                      div.info CÓDIGO: AYUDAWP
                       br
                       | The atmosphere in Chania has a touch of Florence and Venice.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                      a.btn.btn-primary(href="#")  Adquirir ahora

            // Left and right controls
            a.left.carousel-control(href='#main-slider', role='button', data-slide='prev')
              i.fa.fa-chevron-left(aria-hidden='true')
              span.sr-only Previous
            a.right.carousel-control(href='#main-slider', role='button', data-slide='next')
              i.fa.fa-chevron-right(aria-hidden='true')
              span.sr-only Next
            //fin slider


        //Buscador de dominios
        .section-search-domain
          .container
            .row
              .col-md-8
                form.search-domain.form-inline
                  .form-group.clearfix
                    input.form-control(type='text', placeholder="BUSCA EL NOMBRE DE TU DOMINIO")
                    input.form-control.btn.btn-default(type="submit", value="Buscar Dominio")
              .col-md-4
                //Slider de oferta de precios             
                #offers-slider.carousel.slide.carousel-fade(data-ride='carousel')
                  // Indicators
                  ol.carousel-indicators.sr-only
                    li.active(data-target='#offers-slider', data-slide-to='0')
                    li(data-target='#offers-slider', data-slide-to='1')
                    li(data-target='#offers-slider', data-slide-to='2')
                  // Wrapper for slides
                  .carousel-inner(role='listbox')
                    .item.active
                      p.intro Promociones en dominios  
                        span.text-primary .com 
                      p.prices
                        span.before
                          small S/.
                          span.tachado 99.00
                        span.offer.text-primary 
                          small S/.
                          | 35.00
                        span.igv IGV incluido*
                    .item
                      p.intro Promociones en dominios  
                        span.text-primary .com 
                      p.prices
                        span.before
                          small S/.
                          span.tachado 109.00
                        span.offer.text-primary 
                          small S/.
                          | 45.00
                        span.igv IGV incluido*
                    .item
                      p.intro Promociones en dominios  
                        span.text-primary .com 
                      p.prices
                        span.before
                          small S/.
                          span.tachado 159.00
                        span.offer.text-primary 
                          small S/.
                          | 65.00
                        span.igv IGV incluido*

                //Fin de slider
        
        //Sección de Negocios-Hosting
        .section-business-hosting.clearfix
          .standard-hosting
            h2 EL MEJOR PLAN HOSTING
              br
              | ADECUADO PARA TI
            div Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            h5 HOSTING ESTÁNDAR
            P Desde S/.82.25 x Año
              a.btn.btn-primary(href="#") Adquierelo ya
          .hosting-reseller
            h2 HAGAMOS NEGOCIOS
              br
              | SEAMOS  ALIADOS
            div Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            h5 HOSTING RESELLER
            P 
              a.btn.btn-default(href="#") Empezar ahora
              | Desde S/.51.63 x Mes
        
        //Sección Hosting WORDPRESS
        .section-wordpress-hosting
          .container 
            h2 LA MANERA MAS RÁPIDA DE COMENZAR UN BLOG
            p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
            div
              img(src="../img/WP_logo.jpg", alt="Hosting Wordpress con Hosting A1")
              div.buy-plan
                .price-plan.btn-group
                  button.btn.btn-input(type='button')
                    span.text-primary 1 año 
                    |- S/.
                    span.text-primary 14.00 
                    | al mes
                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.list-price.dropdown-menu
                    li
                      a(href='#')
                        span.text-primary 1 año 
                        | - S/.
                        span.text-primary 14.00 
                        | al mes
                    li
                      a(href='#')
                        span.text-primary 2 años 
                        | - S/.
                        span.text-primary 12.00 
                        | al mes
                  span.igv IGV incluido*

                a.btn.btn-primary(href="#")
                  i.fa.fa-shopping-cart 
                  |  ADQUIRIR
          
        //Sección Plan VPS
        .section-plan-vps 
          .container
            .row
              .col-md-9.col-sm-8
                h2 ¿POR QUÉ PASARSE A CLOUD VPS?
                p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
                .row.benefits-vps
                  //- mixin item-benefits(imageUrl, name)
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Soporte 24/7')
                    .media-body.media-middle
                      h5 Soporte 24/7
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Sencillo')
                    .media-body.media-middle
                      h5 Sencillo
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Escalable')
                    .media-body.media-middle
                      h5 Escalable
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Comunidad')
                    .media-body.media-middle
                      h5 Comunidad
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Disponible')
                    .media-body.media-middle
                      h5 Disponible
                  .media.col-md-4.col-xs-6
                    .media-left
                      span
                        img(src='../img/icon_caracteristica.png', alt='Tecnología')
                    .media-body.media-middle
                      h5 Tecnología


              .col-md-3.col-sm-4
                .wrap-ad 
                  h3 QUE ESPERAS PARA CONSEGUIR EL MEJOR 
                    br
                    span VPS
                  .info.bg-white No pierdas la oportunidad de tener el control de todo.
                  a.btn.btn-primary(href="#") CONSEGUIR UN PLAN
        
        //Sección de Testimonios
        .section-testimonials
          .container
            h2 POR QUE LOS CLIENTES NOS PREFIEREN
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
              
            //Slider de testimonios
            .testimonials-slider
              .testimonial-01
                .image
                  .image-box 
                    img(src="../img/testimonials/team3.jpg")
                //-Testimonio 1
                .testimonial-info
                  p.testimonial-content 
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  span.author WALTHER AYALA 
                  small - 
                  span.employment UX/UI Designer
              //-Testimonio 2
              .testimonial-02 
                .image
                  .image-box 
                    img(src="../img/testimonials/team2.png")
                .testimonial-info
                  p.testimonial-content
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  span.author WALTHER AYALA 
                  small - 
                  span.employment UX/UI Designer
              //-Testimonio 3
              .testimonial-03 
                .image
                  .image-box 
                    img(src="../img/testimonials/team3.jpg")
                .testimonial-info
                  p.testimonial-content
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. 
                  span.author SAM GOOD 
                  small - 
                  span.employment UX/UI Designer
              //-testimonio 4
              .testimonial-04 
                .image
                  .image-box 
                    img(src="../img/testimonials/team4.jpg")
                .testimonial-info
                  p.testimonial-content 
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  span.author SAM GOOD 
                  small - 
                  span.employment UX/UI Designer
              //-Testimonio 5
              .testimonial-05
                .image
                  .image-box 
                    img(src="../img/testimonials/team5.jpg")
                .testimonial-info  
                  p.testimonial-content
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  span.author SAM GOOD  
                  small - 
                  span.employment UX/UI Designer
              
              //-Testimonio 6
              .testimonial-06
                .image
                  .image-box 
                    img(src="../img/testimonials/team1.jpg")
                .testimonial-info  
                  p.testimonial-content
                    small.comma “  
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                  span.author SAM GOOD  
                  small - 
                  span.employment UX/UI Designer
              
              
        //-Sección de lo mejor de nosotros
        include ./include/section-best-of-us-gray.jade
        //Sección Slider de Frases
        .section-quote
          //Slider de oferta de precios
          .container                 
            #text-slider.carousel.slide.carousel-fade(data-ride='carousel')
              // Indicators
              ol.carousel-indicators.sr-only
                li.active(data-target='#text-slider', data-slide-to='0')
                li(data-target='#text-slider', data-slide-to='1')
                li(data-target='#text-slider', data-slide-to='2')
              // Wrapper for slides
              .carousel-inner(role='listbox')
                .item.active
                  h3 “BRINDANDO HOSTING PARA EMPRESAS POR MÁS DE 10AÑOS” 
                .item
                  h3 “Lorem ipsum dolor sit amet, consectetur adipisicing elit".
                .item
                  h3 "Dolor nostrum adipisci amet totam asperiores similique".
              // Left and right controls
              a.left.carousel-control(href='#text-slider', role='button', data-slide='prev')
                i.fa.fa-chevron-left(aria-hidden='true')
                span.sr-only Previous
              a.right.carousel-control(href='#text-slider', role='button', data-slide='next')
                i.fa.fa-chevron-right(aria-hidden='true')
                span.sr-only Next
            //Fin de slider

        //-Sección de zona de aprendizaje
        include ./include/section-learning.jade
        //-Sección de zona de aprendizaje
        include ./include/section-way-pay.jade

    // FOOTER(R)
    include ./include/footer.jade