//- Importación de mixins iniciales 
include ./include/mixins.jade
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('Nosotros  :: HOSTING A1 ')
  body
    //header
    include ./include/header.jade

    //Main Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Nosotros')
      
      //Sección principal de Nosotros
      section#pg-nosotros.main-content.container
        .row
          .nav-nosotros.col-md-3
            //-Incluir navegación vertical
            include ./include/nav-vertical-nosotros.jade
          .main.col-md-9
            .seccion-nosotros
              h2 ¿QUIENES SOMOS?
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur Excepteur sint occaecat cupidatat non proident, sunt in    culpa qui officia deserunt mollit anim id est laborum.
                a(href="#") Lorem ipsum dolor sit amet, 
                | consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              p
                em "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo".
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              img.img-nosotros(src="../img/nosotros.jpg", alt="El equipo de Hosting A1")
            .seccion-mision-vision
              h3 MISIÓN Y VISIÓN
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="#") Ut enim ad minim veniam 
                | quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .otros-intereses
              h5 ENLANCES DE INTERÉS
              ul.list-a-check
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .gerente-descripcion
              img.img-gerente(src="../img/director.jpg", alt="Gerente de Hosting A1")
              h5.title.text-primary 
                | Walther Ayala
                i.fa.fa-chevron-right
              p.subtitle Gerente General de Hosting A1
              p 
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
              
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.
                
            //Sección Lo mejor de Nosotros
            .section-best-of-us.row
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_2.png")
                h5 SOPORTE 
                  br 
                  | PROFESIONAL
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_3.png")
                h5 GARANTÍA
                  br 
                  | DE SATISFACCIÓN
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                img(src="../img/icon_nos_4.png")
                h5 SEGURIDAD 
                  br 
                  | ESPECIALIZADA
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Escribir
              
            //Mas información
            div
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit lol amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. 
              a(href="#") Cum sociis natoque penatibus et
              | etx magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus lol mollis orci, sed rhoncus sapien nunc eget odio.



    // FOOTER
    include ./include/footer.jade
