//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Pago por Wester Union :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        //-Wester Union
        .western-payment.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 PAGO POR WESTERN UNION
              P 
                | Usted podrá realizar sus pagos desde un agente Western Union, debido a que cuenta con agencias en todo el mundo Ud. tiene en su ciudad una agencia muy cerca. Realice una Búsqueda 
                a(href="http://www.westernunion.com/info/agentLocator.asp?country=global", target="_blank") AQUÍ
                |  de Agencia Western Union en su ciudad.
              P 
                | Una vez aque se apersone a la agencia de Western Union, complete el formulario con sus datos y entrégueselo al Agente. Asegúrese de guardar su número de control de envío de dinero (MTCN). El Formulario llénelo con los siguientes datos para el Receptor del Envío del dinero:
              p 
                | Nombres: John Jose
                br 
                | Apellidos: Ruiz Palacios
                br 
                | Dirección: Urb. Mariano Bustamante C – 19 Mariano Melgar
                br 
                | Ciudad: Arequipa
                br 
                | Cód. Postal: Arequipa01
                br 
                | País: Perú
                br 
                | Documento de Identidad: 29646916
              
              p 
                | El proceso de pago con western union es rápido y la activación de los servicios se realizan dentro de las 24 horas como máximo después de reportado el pago.
              p 
                | Una vez efectuada la operación, recuerde enviar su informe de pago al correo depositos@aqphost.com o hágalo desde la 
                a(href="reportar-pago.html") página de notificación de pagos.

              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade