//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Pago por MoneyGram :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        //-MoneyGram
        .moneygram-payment.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 PAGO POR MONEYGRAM
              P 
                | El proceso de envío es similar al de Western Union, en algunos países la comisión de envío de dinero de Money Gram es menor por lo que éste método le pueda resultar favorable al cliente. Realice una 
                a(href="http://www.moneygram.com/eFindUs/findUs.do?countryCode=MX&languageCode=es", target="_blank") Búsqueda de Agencia Money Gram. 
              p 
                | Una vez en la agencia, identifíquese y complete el formulario con sus datos y entrégueselo al Agente. Asegúrese de guardar su número de referencia que le darán por el envío de dinero. En el formulario llene los siguientes datos acerca del Receptor del Envío del dinero:
              
              p 
                | Nombres: John Jose
                br 
                | Apellidos: Ruiz Palacios
                br 
                | Dirección: Urb. Mariano Bustamante C – 19 Mariano Melgar
                br 
                | Ciudad: Arequipa
                br 
                | Cód. Postal: Arequipa01
                br 
                | País: Perú
                br 
                | Documento de Identidad: 29646916
              
              p
                | El proceso de pago con Money Gram es fácil y rápido, la activación de servicios se realizan dentro de las 24 horas como máximo después de reportado el pago.
              
              p
                | Una vez efectuada la operación, recuerde enviar su informe de pago al correo depositos@aqphost.com o hágalo desde la página de notificación de pagos.
                a(href="reportar-pago.html")

              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade