//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Pago por BCP :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        //-BCP
        .bcp-payment.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 PAGO POR BCP
              P 
                | Ésta forma de pago es exclusiva para Perú y se realiza a través del Banco de Crédito del Perú, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito, Transferencia Bancaria o Agente BCP. 
              ul.nav-comprobantes.nav.nav-tabs
                li.active
                  a(data-toggle='tab', href='#factura') 
                    h5 Requiero Factura
                li
                  a(data-toggle='tab', href='#boleta') 
                    h5 Requiero Boleta
              .tab-comprobantes.tab-content
                #factura.tab-pane.fade.in.active
                  p Ésta forma de pago es exclusiva para Perú y está orientado a empresas que requieran factura, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito o Transferencia Bancaria: 
                  ul.list-circle
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                    li Proin sodales pulvinar tempor. 
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                
                #boleta.tab-pane.fade
                  p Ésta forma de pago es exclusiva para Perú y está orientado a empresas o personas naturales que requieran una boleta, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito, Transferencia Bancaria o Agente BCP: 
                  ul.list-circle
                    li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                    li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                    li Proin sodales pulvinar tempor. 
                    li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                    li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

              p 
                | Cientos de Agencias BCP y miles de Agentes BCP donde pagar sus servicios de dominio y Hosting,
                a(href=' http://www.encuentrabcp.com/buscador/') encuentra uno cerca en tu localidad.   

              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade