//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Pago por Tarjeta :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        //-Tarjetas de Crédito
        .creditcard-payment.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 PAGO POR TARJETA DE CRÉDITO
              P: Para una mayor comodidad, usted puede realizar sus pagos en línea con su tarjeta de crédito VISA, MASTERCARD, AMERICAN EXPRESS, DINERS y PAYPAL. Los pagos se realizan en dólares americanos.
              P 
                | Ud. debe ingresar a 
                a(href="http://clientes.aqphost.com") su área de cliente   
                | y hacer su orden, al momento de escoger la forma de pago ud. escoge 2checkout.
              P: Ó si es la primera vez que obtendrá un servicio de AQPhost, haga su orden y llene sus dato de contacto, al escoger la forma de pago ud. escoge 2checkout. 2checkout es una pasarela de pagos segura que le permitirá realizar compras con tarjeta de crédito o con su cuenta paypaL.
              
              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade