//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Blog  :: HOSTING A1 ')
  body

    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Barra de título de la página
      +header-bar('Blog Hosting A1')
      //Sección de Post
      section#pg-post.main-content.container
        .row
          .post-entry.col-md-9
              h3.title-entry: a(href="#") 2017 CHRYSLER PACIFICA
              .post-meta
                span
                  i.fa.fa-calendar(aria-hidden='true')
                  | Abril 08, 2016
                small /
                span
                  i.fa.fa-comments(aria-hidden='true')
                  | 123
                small /
                span
                  i.fa.fa-heart(aria-hidden='true')
                  | 321
                small /
                span.category
                  i.fa.fa-folder(aria-hidden='true')
                  a(href='#', rel='category tag') Categoría 1
              .post-media
                img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Título del Post")
              .post-content
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                  a(href="#") Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                  | Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                p
                  em “Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.”
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                h5 SUBTÍTULO
                ul.list-circle
                  li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                  li Aenean euismod bibendum laoreet. 
                  li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  li Proin sodales pulvinar tempor. 
                  li Cum sociis natoque penatibus et magnis dis parturient montes.
                p
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

                .post-more
                  | Compartir
                  a(href='#', title="Compártelo en Facebook"): i.fa.fa-facebook(aria-hidden='true')
                  a(href='#', title="Compártelo en Twitter"): i.fa.fa-twitter(aria-hidden='true')
                  a(href='#', title="Compártelo en Google Plus"): i.fa.fa-google(aria-hidden='true')
                  | | Me gusta
                  a(href='#', title='Dale "Me Gusta"'): i.fa.fa-heart(aria-hidden="true")
              
              //-Post similares
              .similar-posts.widget
                h3.widget-title Podría interesarte
                .pull-left 
                  .item                  
                    a.media-content(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Título del Post")
                    h5.widget-title Título del Nuevo Post
                    .post-meta
                      span
                        i.fa.fa-calendar(aria-hidden='true')
                        | Abril 08, 2016
                      small /
                      span
                        i.fa.fa-comments(aria-hidden='true')
                        | 123
                      small /
                      span
                        i.fa.fa-heart(aria-hidden='true')
                        | 321
                      
                .pull-left 
                  .item                  
                    a.media-content(href="#" ): img(src="http://lorempixel.com/output/technics-q-g-690-350-8.jpg" alt="Título del Post")
                    h5.widget-title Título del Nuevo Post
                    .post-meta
                      span
                        i.fa.fa-calendar(aria-hidden='true')
                        | Abril 08, 2016
                      small /
                      span
                        i.fa.fa-comments(aria-hidden='true')
                        | 123
                      small /
                      span
                        i.fa.fa-heart(aria-hidden='true')
                        | 321
                .clearfix

              //Lista de Comentarios         
              .post-comments
                h3.widget-title Comentarios
                ul.comment-list
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-comment  
                            | 5
                        a.reply(href="#") Responder

                      //Respuesta a comentario
                    ul.comments-reply
                      li
                        .comment
                          h5 WALTHER AYALA
                            span.time Ago. 08, 2016
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                          .meta-data
                            .value
                              span
                                a.fa.fa-thumbs-up 
                                | 12
                              span
                                a.fa.fa-comment  
                                | 5
                            a.reply(href="#") Responder
                  //-Comentario 2
                  li
                    .comment
                      h5 WALTHER AYALA
                        span.time Ago. 08, 2016
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate.
                      .meta-data
                        .value
                          span
                            a.fa.fa-thumbs-up 
                            | 12
                          span
                            a.fa.fa-comment  
                            | 5
                        a.reply(href="#") Responder

                //-Fin UL
                .more-comments
                  a.btn-special.btn-primary(href="#") Cargar más comentarios
              
              //-Sección para Formulario de comentarios
              .leave-comment
                h3.widget-title ENVÍANOS TUS COMENTARIOS
                form.comment-form
                  p.form-inline.clearfix
                    input.form-control(type="text", placeholder="Nombre")
                    input.form-control(type="text", placeholder="Apellidos")
                  p: input.form-control(type="email", placeholder="Correo electrónico")
                  p: textarea.form-control(placeholder="Deja aquí tu comentario")
                  p.text-right: input.btn.btn-default(type="submit", value="Enviar comentario")

          //-añadir Aside en caso el elemento requira sidebar
          //Sidebar para Post de Blog
          include ./include/sidebar.jade
          
    // Footer 
    include ./include/footer.jade