//- Importación de mixins iniciales 
include ./include/mixins
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('DOMINIOS :: HOSTING A1')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Sección principal de Dominios
      section#pg-dominios.main-content
        //Sección Hero
        .hero-domain.hero
          .container
            .wrapper-content
              .hero-content.text-center
                h2.text-primary AHORA PUEDES DESCUBRIR
                H1 EL DOMINIO PERFECTO
                form.search-domain.form-inline
                  .form-group
                    input.form-control(type='text', placeholder="BUSCA EL NOMBRE DE TU DOMINIO")
                    input.form-control.btn.btn-primary(type="submit", value="Buscar Dominio")
                .row
                  .price-offer.col-sm-4
                    span.text-primary .com 
                    | consíguelo a sólo
                    p.prices
                      span.before
                        small S/.
                        span.tachado 159.00
                      span.offer.text-primary
                        small S/.
                        | 35.00
                      span.igv IGV incluido*
                  .price-offer.col-sm-4
                    span.text-primary .net  
                    | consíguelo a sólo
                    p.prices
                      span.before
                        small S/.
                        span.tachado 159.00
                      span.offer.text-primary
                        small S/.
                        | 90.00
                      span.igv IGV incluido*
                  .price-offer.col-sm-4
                    span.text-primary .biz 
                    | consíguelo a sólo
                    p.prices
                      span.before
                        small S/.
                        span.tachado 159.00
                      span.offer.text-primary
                        small S/.
                        | 85.00
                      span.igv IGV incluido*
                      
        //Sección Banner
        #banner-domains
          //-.banner.container
          //- Incluir lo mejor de nosotros (bg-blanco)
          include ./include/banner-simple.jade

        //Sección Promociones de Dominios
        .promotion-domains.container
          h2.text-center  TODOS LOS DOMINIOS QUE QUIERAS
          .row
            .card-wrap.col-md-3.col-xs-6 
              +price-card('.pe', '38.00')
            .card-wrap.col-md-3.col-xs-6
              +price-card('.club', '38.00')
            .card-wrap.col-md-3.col-xs-6
              +price-card('.com', '38.00')
            .card-wrap.col-md-3.col-xs-6
              +price-card('.mx', '38.00')
          
        //Sección Beneficios
        .section-benefits
          .container
            h2 Nuestros Beneficios
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim iste provident vitae exercitationem assumenda aliquid ad, culpa sint doloremque voluptatem animi totam rerum velit, maiores non. Unde, amet illum?
            .row
              //- mixin item-benefits(imageUrl, name)      
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus atque cupiditate, numquam laboriosam maxime, consequatur voluptates aspernatur modi repellendus.
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
            .row
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
        
        //Sección Dominios más usados
        .more-domains.container
          h2 DOMINIOS MÁS USADOS
          .row
            .table-wrapper.col-md-6
              table.table.table-striped
                thead
                  tr
                    th Dominio 
                    th Precio
                tbody
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
              span.igv IGV incluido *

            .table-wrapper.col-md-6
              table.table.table-striped
                thead
                  tr
                    th Dominio 
                    th Precio
                tbody
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
              span.igv IGV incluido *

        //Preguntas más frecuentes
        .section-faq
          .container
            h2 PREGUNTAS FRECUENTES
            //-Item de FAQ con la siguiente estructura:
            //- mixin item-FAQ-open(number, title)   
            +item-FAQ-open(1, '¿Qué es un dominio?') 
              p PAGOS EN LÍNEA: Ud. puede pagar en línea con su Tarjeta de Crédito, mediante su cuenta Paypal y con su cuenta Moneybookers lo que le permitirá una activación inmediata:
              h5.subtitle SUBTITULO
              ul.list-circle
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.  
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              h5.subtitle SUBTITULO
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(2, '¿Cómo registro mi dominio?')
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam inventore ex, placeat obcaecati dolorem blanditiis harum quam qui officia consequuntur quae laborum, doloremque quaerat nisi impedit exercitationem illum expedita!
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(3, '¿En qué formas puedo pagar mi dominio?')
            +item-FAQ-close(4, 'Tengo registrado mi dominio con otro proveedor. ¿Es factible cambiarme a HOSTING A1 para que sea mi Registrante?')
              ol
                li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                li In nobis ratione eaque autem amet, pariatur obcaecati distinctio vitae sit labore voluptate aperiam enim voluptatibus
                li It dolorum magni deleniti tempora aliquid, recusandae!
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A qui, dolore, neque placeat ipsa molestias quia aliquid, quibusdam reprehenderit consectetur odit recusandae repellendus, possimus quos unde. Quis, sint architecto perspiciatis?
        //- Incluir lo mejor de nosotros (bg-blanco)
        include ./include/section-best-of-us.jade
        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 
        //- Include de Formas de Págo
        include ./include/section-way-pay.jade
    // Footer 
    include ./include/footer.jade
