//- Importación de mixins iniciales 
include ./include/mixins
//- ********************************
doctype html
html(lang='es')
  head
    +head('Reportar su Pago :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Formas de Pago')
      
      //Formas de Pago
      section#pg-payment.main-content
        .pay-report.container
          .row
            .nav-payment.col-md-3
              include ./include/nav-vertical-pagos.jade
            .pay-content.col-md-9
              h2 REPORTE SU PAGO AQUÍ
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
              form.report-form
                .form-wrap.clearfix 
                  input.form-control(type="text", placeholder="Nombre completo")
                  input.form-control(type="email", placeholder="Correo electrónico")
                .form-wrap.clearfix 
                  span.wrapper
                    input.form-control(type="text", placeholder="Nro. de Recibo")
                    a(tabindex="0", data-toggle='popover', data-trigger='focus', data-placement="top", data-content='Lorem ipsum dolor sit amet')
                      i.fa.fa-question-circle
                  span.wrapper
                    input.form-control(type="text", placeholder="Nro. de orden")
                    a(tabindex="0", data-toggle='popover', data-trigger='focus', data-placement="top", data-content='Lorem ipsum dolor sit amet')
                      i.fa.fa-question-circle
                .form-wrap.clearfix
                  span.wrapper
                    //Seleccionar Pais
                    select#pais.hidden.form-control(name="pais")
                      option(selected='', value='0') Escoja su País
                      option(value='Argentina') Argentina
                      option(value='Bolivia') Bolivia
                      option(value='Chile') Chile
                      option(value='Colombia') Colombia
                      option(value='Costa Rica') Costa Rica
                      option(value='Cuba') Cuba
                      option(value='Ecuador') Ecuador
                      option(value='Salvador') El Salvador
                      option(value='España') España
                      option(value='Estados Unidos') Estados Unidos
                      option(value='Guatemala') Guatemala
                      option(value='Honduras') Honduras
                      option(value='México') México
                      option(value='Nicaragua') Nicaragua
                      option(value='Panamá') Panamá
                      option(value='Paraguay') Paraguay
                      option(value='Peru') Perú
                      option(value='Puerto Rico') Puerto Rico
                      option(value='Republica Dominicana') Republica Dominicana
                      option(value='Uruguay') Uruguay
                      option(value='Venezuela') Venezuela
                      option(value='Otros') Otros
                    //Campo personalizado
                    .select-pais.btn-group
                      button.btn.btn-input(type='button', data-toggle='dropdown')
                        | País
                      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.caret
                        span.sr-only Toggle Dropdown
                      ul.list.dropdown-menu
                        li: a(href='#')  Argentina
                        li: a(href='#')  Bolivia
                        li: a(href='#')  Chile
                        li: a(href='#')  Colombia
                        li: a(href='#')  Costa Rica                 
                        li: a(href='#')  Cuba                       
                        li: a(href='#')  Ecuador
                        li: a(href='#')  El Salvador
                        li: a(href="#")  España                    
                        li: a(href="#")  Estados Unidos            
                        li: a(href="#")  Guatemala       
                        li: a(href="#")  Honduras
                        li: a(href="#")  México
                        li: a(href="#")  Nicaragua
                        li: a(href="#")  Panamá
                        li: a(href="#")  Paraguay
                        li: a(href="#")  Perú
                        li: a(href="#")  Puerto Rico
                        li: a(href="#")  República Dominicana
                        li: a(href="#")  Uruguay
                        li: a(href="#")  Venezuela
                        li: a(href="#")  Otros
                        
                  //Seleccionar Formas de Pago
                  span.wrapper
                    select#forma-pago.hidden.form-control(name="forma-pago")
                      option(value='') Formas de Pago
                      option(value='Moneybookers') Moneybookers
                      option(value='Western Union') Western Union
                      option(value='Moneygram') Moneygram
                      option(value='Banco de Crédito del Perú') Banco de Crédito del Perú
                      option(value='Pagum') Pagum
                    
                    //Campo personalizado Forma de pago
                    .select-payment.btn-group
                      button.btn.btn-input(type='button', data-toggle='dropdown')
                        | Formas de Pago
                      button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        span.caret
                        span.sr-only Toggle Dropdown
                      ul.list.dropdown-menu
                        li: a(href='#') Moneybookers
                        li: a(href='#') Western Union
                        li: a(href='#') Moneygram
                        li: a(href='#') Banco de Crédito del Perú              
                        li: a(href='#') Pagum              
                        
                //Selección de fechas                      
                .form-wrap.clearfix
                  //Seleccionar Formas de Pago
                  span.wrapper
                    input#datepicker.form-control(type="text", placeholder="Fecha")
                    a#fecha.btn.btn-primary(type="button")
                      i.fa.fa-calendar
                .form-wrap.clearfix
                  //-Boton de subida de archivo
                  div#btn-comprobante.btn.btn-primary
                    i.fa.fa-arrow-up
                    span Subir comprobante de pago
                    input#comprobante(type="file", name="comprobante")
                  span#file-archivo Ningún archivo seleccionado
                .mensaje
                  span *
                  | No aplicable a pagos con Moneybookers ni Pagum
                  br
                  span *
                  | Escanee su recibo de Wester Union, Moneygram, ó depósito del BCP y envíe solo en formato de imágenes .gif, .jpg, .jpeg, .png y .bmp
                .form-wrap 
                  textarea.form-control(placeholder="Observaciones")
                .text-right
                  input.btn.btn-default(type="submit", value="Resportar pago")

              //Pago por BCP
              .bcp-payment
                h2 PAGA POR BCP
                P Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                ul.nav-comprobantes.nav.nav-tabs
                  li.active
                    a(data-toggle='tab', href='#factura') 
                      h5 Requiero Factura
                  li
                    a(data-toggle='tab', href='#boleta') 
                      h5 Requiero Boleta
                .tab-comprobantes.tab-content
                  #factura.tab-pane.fade.in.active
                    p Ésta forma de pago es exclusiva para Perú y está orientado a empresas que requieran factura, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito o Transferencia Bancaria: 
                    ul.list-circle
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                      li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                      li Proin sodales pulvinar tempor. 
                      li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                  
                  #boleta.tab-pane.fade
                    p Ésta forma de pago es exclusiva para Perú y está orientado a empresas o personas naturales que requieran una boleta, Ud. puede realizar sus pagos por los servicios adquiridos en AQPhost (registro de dominio, hosting, hosting reseller u otros) por Depósito, Transferencia Bancaria o Agente BCP: 
                    ul.list-circle
                      li Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
                      li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                      li Proin sodales pulvinar tempor. 
                      li Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                      li Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.

              //Enlaces de interes
              .more-interest 
              h5 ENLACES DE INTERÉS
              ul.list-a-check
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.
                li
                  a(href='#')
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sait.


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 

    // Footer 
    include ./include/footer.jade