//- Importación de mixins iniciales 
include ./include/mixins
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('RESULTADO DE BÚSQUEDA - DOMINIOS :: HOSTING A1')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Sección principal de Dominios
      section#pg-dominios-search.main-content
        //Sección Hero
        .hero-domain-search.hero
          .container
            .hero-content.text-center
              i.fa.fa-check.available
              i.fa.fa-close.not-available.hidden
              h5.available.text-primary DOMINIO DISPONIBLE
              h5.not-available.text-primary.hidden DOMINIO NO DISPONIBLE
              .encabezado  
                h1 dominio.mx 
                  //span.text-primary S/. 135.00 
                  //span.igv IGV incluido*
                //-.price-plan.btn-group
                  button.btn.btn-input(type='button')
                    span.text-primary 1 año 
                    | - S/.
                    span.text-primary 99.00 

                  button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                    span.caret
                    span.sr-only Toggle Dropdown
                  ul.list-price.dropdown-menu
                    li
                      a(href='#')
                        span.text-primary 1 año 
                        | - S/.
                        span.text-primary 99.00 
                    li
                      a(href='#')
                        span.text-primary 2 años 
                        | - S/.
                        span.text-primary 120.00 
                    li
                      a(href='#')
                        span.text-primary 3 años 
                        | - S/.
                        span.text-primary 180.00 
                    li
                      a(href='#')
                        span.text-primary 4 años 
                        | - S/.
                        span.text-primary 250.00 
                    li
                      a(href='#')
                        span.text-primary 5 años 
                        | - S/.
                        span.text-primary 300.00 
                  span.igv IGV incluido*
                .wrapper-plan                 
                  //Precio 
                  .price
                    span.igv IGV incluido*
                    span.oferta Oferta
                    span.moneda S/.
                    span.precio 120.00
                    p.price-before
                      | Precio regular S/. 
                      span.tachado  140.00
                      
                  //Dropdown de plazo
                  .plazo
                    | x 
                    .time-limit.dropdown
                      a.dropdown-toggle(data-toggle='dropdown')
                        span.time 1 año  
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='#') 2 años
                        li
                          a(href='#') 3 años
                        li
                          a(href='#') 4 años
                        li
                          a(href='#') 5 años


                a.btn.btn-primary(href='#')
                  i.fa.fa-shopping-cart  
                  |  ADQUIRIR
              form.search-domain.form-inline
                .form-group
                  input.form-control(type='text', placeholder="dominio.mx"). dominio.mx
                  input.form-control.btn.btn-primary(type="submit", value="Buscar Dominio")
      
        //Sección Promociones de Dominios
        .domain-search-results.container
          .search-results
            h2.text-center  RESULTADO DE BÚSQUEDA
            table.table.results-table
              tbody
                //No disponible
                tr.not-available
                  td.domain-name
                    | busqueda.com
                    i.fa.fa-close
                  td.price
                    | No disponible
                  td.plazo
                    span.null
                  td.add
                    a.btn-special.btn-primary.disabled(role="button", aria-disabled="true")
                      | Agregar
                //Disponible sin oferta
                tr
                  td.domain-name
                    | busqueda.com
                    i.fa.fa-check
                  td.price
                    span.igv IGV incluido*
                    span.moneda S/.
                    span.precio 120.00
                    //-small X AÑO 
                  td.plazo
                    | x 
                    .time-limit.dropdown
                      a.dropdown-toggle(data-toggle='dropdown')
                        span.time 1 año  
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='#') 2 años
                        li
                          a(href='#') 3 años
                        li
                          a(href='#') 4 años
                        li
                          a(href='#') 5 años
                  td.add
                    a.btn-special.btn-default(href="#")
                      | Agregar
                //Disponible con Oferta
                tr
                  td.domain-name 
                    | busqueda.club
                    i.fa.fa-check
                  td.price
                    span.igv IGV incluido*
                    span.oferta Oferta
                    span.moneda S/.
                    span.precio 120.00
                    //-small X AÑO 
                    p.price-before
                      | Precio regular S/. 
                      span.tachado  140.00
                  td.plazo
                    | x 
                    .time-limit.dropdown
                      a.dropdown-toggle(data-toggle='dropdown')
                        span.time 1 año  
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='#') 2 años
                        li
                          a(href='#') 3 años
                        li
                          a(href='#') 4 años
                        li
                          a(href='#') 5 años

                  td.add
                    a.btn-special.btn-default(href="#")
                      | Agregar
                
                //agregado para comprar
                tr
                  td.domain-name 
                    | busqueda.me
                    i.fa.fa-check
                  td.price
                    span.igv IGV incluido*
                    span.oferta Oferta
                    span.moneda S/.
                    span.precio 120.00
                    //-small X AÑO 
                    p.price-before
                      | Precio regular S/. 
                      span.tachado  140.00
                  td.plazo
                    | x 
                    .time-limit.dropdown
                      a.dropdown-toggle(data-toggle='dropdown')
                        span.time 1 año  
                        span.caret
                      ul.dropdown-menu
                        li
                          a(href='#') 2 años
                        li
                          a(href='#') 3 años
                        li
                          a(href='#') 4 años
                        li
                          a(href='#') 5 años
                  td.add
                    a.btn-special.btn-primary(href="#")
                      i.fa.fa-check
                      | Agregado

                //para botón de ver más
                tr.more
                  td(colspan="4")
                    a.btn-special.btn-primary(href="#")
                      | Ver más
            
              //Botón comprar
              tfoot
                tr
                  td(colspan="4") 
                    a.btn.btn-primary(href="#")
                      | Continuar compra

          .search-suggestions
            h3 MÁS IDEAS DE DOMINIOS
            .row
              .prefix.col-md-4
                h5 PREFIJO
                table.table.table-striped
                  tbody
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
              .extension.col-md-4
                h5 EXTENSIÓN
                table.table.table-striped
                  tbody
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
              .suffix.col-md-4
                h5 SUFIJO
                table.table.table-striped
                  tbody
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +
                    tr
                      td dominio.mx
                      td S/. 125.00
                      td: a(href="#") Agregar +

        //Sección Beneficios
        .section-benefits
          .container
            h2 Nuestros Beneficios
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim iste provident vitae exercitationem assumenda aliquid ad, culpa sint doloremque voluptatem animi totam rerum velit, maiores non. Unde, amet illum?
            .row
              //- mixin item-benefits(imageUrl, name)      
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
                p No Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus atque cupiditate, numquam laboriosam maxime, consequatur voluptates aspernatur modi repellendus. Ad facilis consequuntur sunt repellat ut cupiditate ex molestiae expedita tenetur.
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
            .row
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
        
        
        //Sección Dominios más usados
        .more-domains.container
          h2 DOMINIOS MÁS USADOS
          .row
            .col-md-6
              table.table.table-striped
                thead
                  tr
                    th Dominio 
                    th Precio
                tbody
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
              
            .col-md-6
              table.table.table-striped
                thead
                  tr
                    th Dominio 
                    th Precio
                tbody
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125
                  tr
                    td: a(href="#") dominio.mx
                    td S/.125

        //Preguntas más frecuentes
        .section-faq
          .container
            h2 PREGUNTAS FRECUENTES
            //-Item de FAQ con la siguiente estructura:
            //- mixin item-FAQ-open(number, title)   
            +item-FAQ-open(1, '¿Qué es un dominio?') 
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe tempore voluptatem eveniet facilis nesciunt et odit, in nostrum ipsa a recusandae doloribus ea amet delectus, velit itaque pariatur sapiente natus.
              h5.subtitle SUBTITULO
              ul.list-circle
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.  
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              h5.subtitle SUBTITULO
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(2, '¿Cómo registro mi dominio?')
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam inventore ex, placeat obcaecati dolorem blanditiis harum quam qui officia consequuntur quae laborum, doloremque quaerat nisi impedit exercitationem illum expedita!
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(3, '¿En qué formas puedo pagar mi dominio?')
              PAGOS EN LÍNEA: Ud. puede pagar en línea con su Tarjeta de Crédito, mediante su cuenta Paypal y con su cuenta Moneybookers lo que le permitirá una activación inmediata.

            +item-FAQ-close(4, 'Tengo registrado mi dominio con otro proveedor. ¿Es factible cambiarme a HOSTING A1 para que sea mi Registrante?')
              ol.list-numbered
                li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                li In nobis ratione eaque autem amet, pariatur obcaecati distinctio vitae sit labore voluptate aperiam enim voluptatibus
                li It dolorum magni deleniti tempora aliquid, recusandae!
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A qui, dolore, neque placeat ipsa molestias quia aliquid, quibusdam reprehenderit consectetur odit recusandae repellendus, possimus quos unde. Quis, sint architecto perspiciatis?
        //- Incluir lo mejor de nosotros (bg-blanco)
        include ./include/section-best-of-us.jade
        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 
        //- Include de Formas de Págo
        include ./include/section-way-pay.jade
    // Footer 
    include ./include/footer.jade
