//- Importación de mixins iniciales 
include ./include/mixins.jade
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('VPS (Servidores Virtuales Privados)  :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Sección principal de Dominios
      section#pg-vps.main-content
        //Sección Planes VPS
        .section-servers-plan 
          .container
            h2.text-primary QUE ESPERAS PARA ADQUIRIR
            H1 EL VPS MÁS ADECUADO Y SENCILLO
            .wrapper-plans.clearfix 
              .vps-plan
                .features
                  h3.text-center VPS-1
                  ul
                    li Intel® Celeron® & Pentium™ Dual
                    li SATA - 80 GB a 2 TB
                    li DDR3 - 1 a 2 GB
                .price.text-center
                  span.igv IGV incluido* 
                  p.text-primary 
                    span S/.
                    | 99.00
                  h5 X MES         
                  a.btn.btn-primary(href="#") Configurar
                  
              
              .vps-plan.recommended
                .features
                  h3.text-center VPS-2
                  ul
                    li Intel® Celeron® & Pentium™ Dual
                    li SATA - 80 GB a 2 TB
                    li DDR3 - 1 a 2 GB
                .price.text-center 
                  span.igv IGV incluido*
                  p.text-primary 
                    span S/.
                    | 199.00
                  h5 X MES
                  a.btn.btn-primary(href="#") Configurar
                p.more
                  a.to-table(href="#table-features") *Ver todas las características

              .vps-plan
                .features
                  h3.text-center VPS-3
                  ul
                    li Intel® Celeron® & Pentium™ Dual
                    li SATA - 80 GB a 2 TB
                    li DDR3 - 1 a 2 GB
                .price.text-center 
                  span.igv IGV incluido*
                  p.text-primary 
                    span S/.
                    | 299.00
                  h5 X MES
                  a.btn.btn-primary(href="#") Configurar

            //Consultar planes
            h5 ¿QUIERES SABER CUAL ES EL PLAN QUE SE ADAPTA A TUS NECESIDADES?
            a#to-chat.btn.btn-primary(href="#") 
              i.fa.fa-comment
              | HABLAR CON UN EXPERTO

        //Slider - banner
        .server-banner.banner
            //-.container 
            //-Incluir el Banner slider aquí
          include ./include/banner-simple.jade
        
        //Sección de Beneficios 
        .server-benefits.section-benefits
          .container
            h2 Nuestros Beneficios
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim iste provident vitae exercitationem assumenda aliquid ad, culpa sint doloremque voluptatem animi totam rerum velit, maiores non. Unde, amet illum?
            .row  
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
            .row  
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
    
        //Sección  de Ofertas 
        .server-offers.offers-content
          .container
            +item-offers-right('ADEMAS TE AFRECEMOS', '../img/hosting_img.jpg')
            +item-offers-left('../img/hosting_img.jpg', 'Y ESO NO ES TODO')
              p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

        //Sección FAQ
        .server-FAQ.section-faq
          .container
            h2 PREGUNTAS FRECUENTES
                //-Item de FAQ con la siguiente estructura:
                //- mixin item-FAQ-open(number, title)   
            +item-FAQ-open(1, '¿Qué es un servidor VPS?') 
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi beatae molestias esse, aliquam similique architecto at omnis vel, neque, suscipit vero totam eveniet. Illum, distinctio atque modi autem at doloremque!
              h5.subtitle SUBTITULO
              ul.list-circle
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.  
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              h5.subtitle SUBTITULO
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
      
            +item-FAQ-close(2, '¿Cómo registro mi servidor VPS?')
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam inventore ex, placeat obcaecati dolorem blanditiis harum quam qui officia consequuntur quae laborum, doloremque quaerat nisi impedit exercitationem illum expedita!
                ol.list-numbered
                  li lorem ipsum
                  li lorem ipsum
                  li lorem ipsum
                
            +item-FAQ-close(3, '¿En qué formas puedo pagar?')
            +item-FAQ-close(4, '¿Es factible cambiarme a HOSTING A1 para que sea mi Registrante?')
        
        //Server Hero
        .server-hero.hero
          .container
            //.wrapper-content
            .hero-content.text-center
              h1 TODOS NUESTROS PLANES
              .price-plan.btn-group
                button.btn.btn-input(type='button')
                  span.text-primary 1 año 
                  | - S/.
                  span.text-primary 14.00 
                  | al mes
                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                  span.caret
                  span.sr-only Toggle Dropdown
                ul.list-price.dropdown-menu
                  li
                    a(href='#')
                      span.text-primary 1 año 
                      | - S/.
                      span.text-primary 14.00 
                      | al mes
                  li
                    a(href='#')
                      span.text-primary 2 años 
                      | - S/.
                      span.text-primary 12.00 
                      | al mes
                span.igv IGV incluido*

              a.btn.btn-primary(href='#')
                i.fa.fa-shopping-cart  
                |  ADQUIRIR

              .info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error illum exercitationem neque eum non id nesciunt, facere aperiam molestiae ea alias nulla, dignissimos aliquam sequi dolorem aspernatur necessitatibus modi. Iusto.

        //Sección de Características de Planes
        .server-features.table-features#table-features
          .container
            h2 TODAS LAS CARACTERISTICAS DE NUESTROS PLANES
            table.table.table-striped
              thead
                tr
                  th 
                  th BÁSICO
                  th AVANZADO
                  th PROFESIONAL
                  th PREMIUM
                  th CORPORATIV0
              tbody
                //-table-feature-row(caracteristica,basico, avanzado, profesional, premium, corporativo)
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
                +table-feature-row ('Espacio de Almacenamiento', '100 MB', '200 MB', '100 MB', 'SI', 'NO')
                +table-feature-row ('Transferencia Mensual', 'Ilimitado', '50 GB', '1 TB', '100TB', 'SI')
              tfoot
                tr
                  td 
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir 
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir
                    td: a(href='#') Adquirir


        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 
            //- Include de Formas de Págo
        include ./include/section-way-pay.jade
    //Footer
    include ./include/footer.jade
