//- Importación de mixins iniciales 
include ./include/mixins.jade
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('Soporte :: HOSTING A1 ')
  body
    //header
    include ./include/header.jade

    //Main Wrapper
    div.main-wrapper
      
      //Barra de título de la página
      +header-bar('Soporte')
      
      //Sección principal de Nosotros
      section#pg-nosotros.main-content.container
        .row
          .nav-nosotros.col-md-3
            //-Incluir navegación vertical
            include ./include/nav-vertical-nosotros.jade
          .main.col-md-9
            //Sección principal de soporte
            .seccion-soporte 
              h2 SOPORTE
              h3 Subtítulos
              p 
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            
            //Sección Lo mejor de Nosotros
            .section-best-of-us.row
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_2.png")
                h5 SOPORTE 
                  br 
                  | PROFESIONAL
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-sm-6
                img(src="../img/icon_nos_3.png")
                h5 GARANTÍA
                  br 
                  | DE SATISFACCIÓN
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Acceder
              .col-md-4.col-md-offset-0.col-sm-6.col-sm-offset-3
                img(src="../img/icon_nos_4.png")
                h5 SEGURIDAD 
                  br 
                  | ESPECIALIZADA
                p  
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
                  br
                  a(href="#") Escribir
            //Otros intereses
            .otros-intereses
              h5 ENLANCES DE INTERÉS
              ul.list-a-check
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#")  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                li: a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    // FOOTER
    include ./include/footer.jade