//- Importación de mixins iniciales 
include ./include/mixins
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('TRANSFERENCIA DE DOMINIOS :: HOSTING A1')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Sección principal de Dominios
      section#pg-dominios-transfer.main-content
        //Sección Hero
        .hero-domain-transfer.hero
          .container
            .wrapper-content
              .hero-content.text-center
                h2.text-primary AHORA PUEDES
                h1 BUSCAR TU DOMINIO A TRANSFERIR
                form.search-domain.form-inline
                  .form-group
                    input.form-control(type='text', value="Busca tu dominio"). dominio.mx
                    input.form-control.btn.btn-primary(type="submit", value="Buscar Dominio")
        
        //Sección Beneficios
        .section-benefits.bg-white
          .container
            h2 Nuestros Beneficios
            p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates enim iste provident vitae exercitationem assumenda aliquid ad, culpa sint doloremque voluptatem animi totam rerum velit, maiores non. Unde, amet illum?
            .row
              //- mixin item-benefits(imageUrl, name)      
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
                p No Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus atque cupiditate, numquam laboriosam maxime, consequatur voluptates aspernatur modi repellendus. Ad facilis consequuntur sunt repellat ut cupiditate ex molestiae expedita tenetur.
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
            .row
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
              +item-benefits('../img/icon_caracteristica.png', 'Soporte 24/7')
             
        //Preguntas más frecuentes
        .section-faq
          .container
            h2 PREGUNTAS FRECUENTES
            //-Item de FAQ con la siguiente estructura:
            //- mixin item-FAQ-open(number, title)   
            +item-FAQ-open(1, '¿Qué es un dominio?') 
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe tempore voluptatem eveniet facilis nesciunt et odit, in nostrum ipsa a recusandae doloribus ea amet delectus, velit itaque pariatur sapiente natus.
              h5.subtitle SUBTITULO
              ul.list-circle
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. 
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.  
                li Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              h5.subtitle SUBTITULO
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(2, '¿Cómo registro mi dominio?')
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo aliquam inventore ex, placeat obcaecati dolorem blanditiis harum quam qui officia consequuntur quae laborum, doloremque quaerat nisi impedit exercitationem illum expedita!
              ol.list-numbered
                li lorem ipsum
                li lorem ipsum
                li lorem ipsum
            
            +item-FAQ-close(3, '¿En qué formas puedo pagar mi dominio?')
              PAGOS EN LÍNEA: Ud. puede pagar en línea con su Tarjeta de Crédito, mediante su cuenta Paypal y con su cuenta Moneybookers lo que le permitirá una activación inmediata.

            +item-FAQ-close(4, 'Tengo registrado mi dominio con otro proveedor. ¿Es factible cambiarme a HOSTING A1 para que sea mi Registrante?')
              ol.list-numbered
                li  Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                li In nobis ratione eaque autem amet, pariatur obcaecati distinctio vitae sit labore voluptate aperiam enim voluptatibus
                li It dolorum magni deleniti tempora aliquid, recusandae!
              p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A qui, dolore, neque placeat ipsa molestias quia aliquid, quibusdam reprehenderit consectetur odit recusandae repellendus, possimus quos unde. Quis, sint architecto perspiciatis?
        //- Incluir lo mejor de nosotros (bg-blanco)
        include ./include/section-best-of-us.jade
        //- Incluir zona de aprendizaje
        include ./include/section-learning.jade 
        //- Include de Formas de Págo
        include ./include/section-way-pay.jade
    // Footer 
    include ./include/footer.jade
