//- Importación de mixins iniciales 
include ./include/mixins
//- ******************************** -//
doctype html
html(lang='es')
  head
    +head('Zona de Aprendizaje  :: HOSTING A1 ')
  body
    //Header
    include ./include/header.jade

    //Main-Wrapper
    div.main-wrapper
      //Sección principal de Dominios
      section#pg-aprendizaje.main-content
        //Sección Hero
        .hero-aprendizaje.hero
          .container
            .wrapper-content
              .hero-content.text-center
                h2.text-primary ENCUENTRA LO QUE NECESECITAS  
                H1 CENTRO DE APRENDIZAJE
                .info
                  | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 

                form.search-theme.form-inline
                  .form-group
                    input.form-control(type='text', placeholder="Buscar tema del que quieres aprender")
                    input.form-control.btn.btn-primary(type="submit", value="Buscar")
                

        //Sección Promociones de Dominios
        .categories-learning.container
          ul.category-list.row#masonry
            //list CORREO ELECTRONICO
            li.masonry-item
              //-El estilo esta en category-learn
              .post-category-learn.category-learn.widget
                h2 Correo Electrónico
                ul.article-list
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li 
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
            
            //Lista Dominios
            li.masonry-item
              .category-learn
                h2 Dominios
                ul.article-list
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321  
            
            //Lista CPANEL
            li.masonry-item
              .category-learn
                h2 Cpanel (Panel de Control)
                ul.article-list
                  li 
                    a(href="aprendizaje-articulo.html") Bienvenida a Cpanel Información de Contacto
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321  

                  li 
                    a(href="aprendizaje-articulo.html") Información de Contacto
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321  

                  //Subcategoria de una categoria
                  li.subcategory-learn
                    h3 Correo Electrónico en Cpanel
                    ul.list-subcategory
                      li
                        a(href="aprendizaje-articulo.html") Bienvenida a Cpanel
                        .meta-learn 
                          span
                            i.fa.fa-comments
                            | 123
                          small /
                          span
                            i.fa.fa-heart
                            | 321   
                      li
                        a(href="aprendizaje-articulo.html") Información de Contacto
                        .meta-learn 
                          span
                            i.fa.fa-comments
                            | 123
                          small /
                          span
                            i.fa.fa-heart
                            | 321  

                  //Subcategoria de una categoria
                  li.subcategory-learn
                    h3 Correo Electrónico en Cpanel
                    ul.list-subcategory
                      li
                        a(href="aprendizaje-articulo.html") Bienvenida a Cpanel
                        .meta-learn 
                          span
                            i.fa.fa-comments
                            | 123
                          small /
                          span
                            i.fa.fa-heart
                            | 321   
                      li
                        a(href="aprendizaje-articulo.html") Información de Contacto
                        .meta-learn 
                          span
                            i.fa.fa-comments
                            | 123
                          small /
                          span
                            i.fa.fa-heart
                            | 321  
            
            //Lista CORREO ELECTRONICO
            li.masonry-item
              .category-learn
                h2 Correo Electrónico
                ul.article-list
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li 
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
            //Lista CORREO ELECTRONICO
            li.masonry-item
              .category-learn
                h2 Correo Electrónico
                ul.article-list
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321
                  li 
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 
                  li
                    a(href="aprendizaje-articulo.html") Configurar Outloook 2003
                    .meta-learn 
                      span
                        i.fa.fa-comments
                        | 123
                      small /
                      span
                        i.fa.fa-heart
                        | 321 

            

    // Footer 
    include ./include/footer.jade
