/* 
      PÁG. ZONA DE APRENDIZAJE
----------------------------------------------------------------*/

.hero-aprendizaje{
  background-image: url('../img/bg_aprendizaje.jpg');
  h2 {
    margin-bottom: 5px;  
  }
  h1 {
    color: #fff;
  }
  .info {
    max-width: 800px;
    margin: 0px auto 40px auto;
  }
  /*formulario*/
  form.search-theme {
    .form-group {
      width: 100%;
    }
    input{
      margin-bottom: 5px;
      &[type="text"] {
        max-width: 640px;
        width: 70%;
      }
      &[type="submit"]{
        margin-left: 5px;
      }
    }
  }
}

/*Estilo Masonry para mostrar las categorías*/
#masonry {
  >li {
    display: block;
    width: 50%;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
  }
  /*Media query para masonry*/
  @media screen and (max-width: 991px) {
    > li {
      width: 100%;
      float: none;
    }
  }
}

/*Seccion de Categorias learning*/
.categories-learning {
  padding-top: 60px;
  padding-bottom: 30px;
}

ul.category-list {
  @include list-unstyled;
  h2 {
    margin-bottom: 20px;  
  }
}

/* También para blog de Zona de Aprendizaje */
.category-learn {
  background-color: $bg-gray-01;
  border-top: 3px solid $brand-primary;
  padding: 20px 20px 5px;
  margin-bottom: 30px ;
}

ul.article-list {
  @include list-unstyled;
  li {
    border-bottom: 1px solid $gray-light;
    position: relative; //Para posicionar el meta de categoria
    padding-right: 130px;
    &:first-child {
      border-top: 1px solid $gray-light;
    }
    &:last-child {
      border-bottom: none;
    }
    a {
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 15px;
      color: $gray-darker;
      &:hover, &:focus {
        color: $brand-primary;
      }
    }
    .meta-learn {
      position: absolute;
      right: 0px;
      top: 15px;
      color: $gray-lighter;
      i.fa {
        margin-right: 10px;
      }
      small {
        margin: 0 10px;
      }
    }
  }
  /* li.subcategory-learn*/
  .subcategory-learn {
    padding-right: 0 !important;
    //border-bottom: none;
    h3 {
      margin-top: 20px;
    }
    ul.list-subcategory {
      @include list-unstyled;
      padding-left: 20px;
      /*
      &:last-child { //El ultimo list-subcategory
        > li:last-child {
          border-bottom: none;
        }
      }
      > li:last-child {
        border-bottom: 1px solid $gray-light;
      }*/
    }
  }
}

/*
  ESTILO PARA CATEGORIA DE ZONA DE APRENDIZAJE EN BLOG
*/

/*Búsqueda por Categoría*/
.category-learn-results {
  .category-learn {
    max-width: 700px;
    > h2 {
      margin-bottom: 20px;
    }
  }
}

/*Búsqueda por Articulo o palabras*/
.search-learn-results { 
  .list-learn-results {
    @extend .category-learn;
    max-width: 700px;
    > h2 {
      margin-bottom: 20px;
    }
  }
}


/*Media Query*/
@media screen and (max-width: 767px) {
  .hero-aprendizaje {
    form.search-theme {
      input {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0 !important;
      }
    }    
  }
} 

@media screen and (max-width: 480px) {
  ul.article-list {
    li {
      padding-right: 0;
      .meta-learn {
        display: none;
      }
    }
  }
}


