/*
	BLOG
----------------------------------------------------*/
#pg-blog, #pg-post {
	padding-top: 60px;
  padding-bottom: 30px;	
}
.list-posts {
	@include pd-section(30px);
	//border-bottom: 1px solid $gray-light;
	&:first-child {
		padding-top: 0;
	}
}
/*Item de lista de posts*/
.item-post {
  border-top: 1px solid $gray-light;
  padding-top: 30px;
  margin-top: 30px;
  &:first-child {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
  }
}
.post-meta {
	margin-bottom: 30px;
	color: $gray-lighter;
	i.fa {
		margin-right: 10px;
	}
	small {
		margin: 0 10px;
	}
  .category {
    a {
      color: $gray-lighter;
      &:hover {
        color: $brand-primary;
      }
    }
  } 
}
.post-media {
  margin-bottom: 30px;
  img {
    width: 100%;
  }
}
.post-extract {
  margin-bottom: 30px;
}
.title-entry a {
  color: $headings-color;
  &:hover {
    color: $brand-primary;
  }
}
.post-content {
  margin-bottom: 30px;
  img {
    margin-bottom: 20px;
  }
  p {
    img {
      margin-bottom: 10px;
    }
  }
}

.post-more {
  color: $gray;
  margin-top: 30px;
  >a {
    display: inline-block;
    width: 19px;
    height: 19px;
    text-align: center;
    background-color: $gray;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin-left: 5px; 
    line-height: 1.45;
    i {
      font-size: 11px;
      color: #fff;
    }
    &:hover {
      background-color: $brand-primary;
    }
    &:first-child {
      margin-left: 10px;
    }
    &:nth-child(3) {
      margin-right:8px;
    }
    &:last-child {
      &:hover {
        background-color: $brand-danger;
      }
    }
  }
  .btn {
    margin-left: 15px;
  }
}
/**/
.post-utility {
  color: $gray;
  a{
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    padding: 5px;
    margin-left: 10px;
    text-align: center;
    &.useful {
      background-color: $brand-primary;
      &:hover {
        background-color: darken( $brand-primary, 10%);
      }
    }
    &.useless {
      background-color: $gray;
      &:hover {
        background-color: darken( $gray, 10%);
      }
    }
  }
}
.post-nav {
  padding-top: 30px;
  .nav-number{
    text-align: center;
    vertical-align: middle;
    padding: 8px 10px;
    margin-right: 5px;
    color: $gray-dark;
    border: 1px solid transparent;
    &:hover {
      border-color: $link-hover-color;
      color:$link-hover-color;
    }
    &.current {
      border: 1px solid $brand-primary;
      color: $brand-primary;
    }
  }
  .nav-prev {
    margin-right: 10px;
  }
  .nav-next {
    margin-left: 10px;
  }
}

/*= SIDEBAR =*/
//Mixin para fondo gris en widgets
@mixin wrapper-widget {
	background-color: $bg-gray-01;
	border-top: 3px solid $brand-primary;
	padding: 20px 20px;
}
.widget {
	margin-bottom: 30px;
}
.widget-title {
	text-transform: uppercase;
}
.widget_categories {
	@include wrapper-widget;
	ul {
		@include list-unstyled;
		margin-bottom: 0;
		li {
			border-bottom: 1px solid $gray-light;
			padding: 5px 0;
			&:last-child {
				border-bottom: none;
			} 
		}
		a {
			display: block;
			padding: 8px 30px 7px 15px;
			position: relative;
      color: $gray-darker;
			&::before {
				content: '\f054';
				font-family: FontAwesome;
				font-size: 12px;
				position: absolute;
				top: 10px;
				left: 0;
			}
      &:hover {
        color: $brand-primary;
      }
			span {
				position: absolute;
				right: 0;
        top: 8px; //Igual al padding top del padre
			}
		}
	}
}
.widget_suscription{
	@include wrapper-widget;
}
.widget_hosting-wp,
.widget_dominio, 
.widget_vps { 
	@include wrapper-widget;
	position: relative;
	height: 140px; 
	> a { //Contenedor del texto
    &:hover {
      h2 {
        color: $brand-primary;
      }
    } 
  }
  h2 {
		text-align: right;
		position: absolute;
		margin-bottom: 0;
		bottom: 20px;
		right: 20px;
    color: #fff;
    line-height: 1.5;
	}
}
.widget_hosting-wp {
  background: url("../img/w-side_1.jpg");
  background-size: cover;
}
.widget_dominio {
  background: url("../img/w-side_2.jpg");
  background-size: cover;
}
.widget_vps {
  background: url("../img/w-side_3.jpg");
  background-size: cover;
}
/* Widget de posts similares */
.similar-posts {
  margin-bottom: 0;
  border-top: 1px solid $gray-light;
  padding-top: 30px;
  h3{
    margin-bottom: 30px;
  }
  .pull-left {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
    &:nth-child(2) {
      padding-left: 0;
    }
    &:nth-child(3) {
      padding-right: 0;
    }
  }
  .item {
    @include wrapper-widget;
    margin-bottom: 30px;
    h5 {
      margin-left: -20px;
      padding-left: 20px;
      border-left: 3px solid $brand-primary;
    }
  }
  .media-content {
    display: block;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .post-meta {
    margin-bottom: 0;
  }
}
/* Comentarios */
.post-comments {
  border-top: 1px solid $gray-light;
  padding-top: 30px;
  margin-bottom: 30px;
  ul{
    @include list-unstyled;
    li {
      .comment{
        border: 1px solid $gray-light ;
        background-color: $bg-gray-01;
        padding: 20px;
        margin-bottom: 5px;
      }
    }
    h5 {
      text-transform: uppercase;
    }
    span.time{
      font-family: $font-family-base;
      text-transform: uppercase;
      font-weight: normal;
      margin-left: 10px;
    }
    /*Valoraciones*/
    .value {
      float: left;
      width: 50%;
      min-width: 300px;
      color: $gray;
      span {
        padding: 0px 20px;
        color: $gray;
        &:first-child {
          padding-left: 0;
          padding-right: 15px;
          border-right: 1px solid $gray;
          color: $brand-danger;
          a {
            color: $brand-danger;
          }
        }
      }
    }
    
    /*Iconos de valoración*/
    a.fa {
      margin-right: 10px;
      cursor: pointer;
      color: $gray;
      &::before {
        cursor: pointer;
      }
    }
    /*Repsonder a comentario*/
    a.reply {
      display: block;
      text-align: right;
    }
  }
  ul.comments-reply {
    padding-left: 50px;
    display: block;
  }
  .more-comments {
    margin-top: 30px;
    text-align: center;
  }
}
/*Formulario para dejar comentarios*/
.leave-comment {
  border-top: 1px solid $gray-light;
  padding-top: 30px;
  margin-bottom: 30px; //Con el pb30px se logra la separación de 60px
  .form-inline {
    input {
      width: 49%;
      float: left;
      &:first-child {
        margin-right: 2%;
      }
    }
  }
  textarea {
    height: 150px;
  }
}
/*
          Media query
-----------------------------------------*/
@media screen and (max-width:991px) {
  aside {
    margin-top: 60px;
  }
}

@media screen and (max-width:480px) {
  .leave-comment{
    .form-inline{
      input {
        width: 100%;
        float: none;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    } 
  } 
}