//=******** MIXINS ********=//

@mixin pd-section($padding) {
  padding-top: $padding;
  padding-bottom: $padding;
}
/* {
  //outline: 1px solid rgba(0, 250, 0, 0.3);
  transition: all 0.15s ease-in;
}
/*
  UTILITARIOS
----------------------------------------------------*/
  .bg-white {
    background-color: #fff !important;
  }
  .bg-gray-01 {
    background-color: $bg-gray-01;
  }
  .bg-gray-02 {
    background-color: $bg-gray-02;
  }

/*
  ELEMENTOS COMUNES
----------------------------------------------------*/

/*= Navegación Vertical =*/
.nav-vertical {
  margin-bottom: 30px;
  ul{
    list-style: none;
    padding: 5px 20px;
    margin: 0;
    background:$bg-gray-01;
    border-top: 3px solid $brand-primary;
    li{
      margin: 0;
      a {
        display: block;
        position: relative;
        padding: 15px 18px;
        border-bottom:1px solid $gray-light;
        color: $gray-darker;
      }
      a:hover{
        background-color:transparent;
        color: $brand-primary !important;
        i.fa {
          color: $brand-primary !important;
        }
      }
      &:last-child {
        a {
          border-bottom: none;
        }
      }
    }
  }
}
/*= TEXTO ITALIC =*/
p {
  em {
    font-size: 16px;
    color: $brand-primary;
    display: inline-block;
    text-align: center;
  }
}

/*= TEXTO DE IGV =*/
/*
  Este elemento solo aparece cuando Perú es seleccionado como país
  Para modificar la posición debe hacerse de manera particular dando estilos en la sección correspondiente
*/
span.igv {
    font-size: 11px !important;
    color: $gray-lighter !important;
    position: absolute; //Respecto del contenedor del elemento
    display: inline-block;
}

/*= TO-TOP =*/
footer a.to-top {
  background-color:$brand-primary;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  outline: none !important;
  width: 28px;
  height: 28px;
  position: fixed;
  bottom: 37px;
  right: 20px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color:#fff;
  text-align: center;
  line-height: 28px;
  font-size: 16px;
}
/*= TO-CHAT =*/
a#to-chat {
  .fa {
    margin-right: 10px;
  }
}
/*= HEADER-BAR =*/
.header-bar{
  //height: 130px;
  background-color: #343434; // Eliminar cuando se tenga la imagen de fondo
  .head-page {
    display: table;
    height: 130px;
  }
  h1 {
    font-size: 25px;
    margin-bottom: 0;
    text-transform: uppercase;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    line-height: 1.25;
    span {
      padding-left: 20px;
      border-left: 3px solid $brand-primary;
      display: inline-block;
    }
  }
  /* Media Query de HEADER-BAR*/
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 20px;
    }  
  } 
}

/*= SECCIÓN DE BANNER GENERAL =*/
.banner { //.container
  .banner-content { // antes .row Ahora es el contenido dentro de cafa .item
    @include pd-section(40px);
    background-color: #26415c; //eliminar cuando se tenga la imagen de fondo
    background-image: url('../img/bg_banner.jpg');
    background-size: cover;
    background-position: 50%;
    color: #fff;    
    .info-banner{ //.columnas
      h2 {
      color:#ffffff;
      margin-bottom: 15px;
      }
      p {
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .text-primary {
      font-family: $headings-font-family;
      font-weight: bold;
    }
    .f-20 {
      font-size: 20px;
    }
  }
}

/*= SECCIÓN LO MEJOR DE NOSOTROS =*/
.section-best-of-us {
  @include pd-section(60px);
  text-align: center;
  img {
    margin-bottom: 30px;
    margin-top: 30px; //Para la separación en el responsive
   }
  h5 {
    line-height: $line-height-base;
  }
  //Bg de color gris
  &.gray {
    background-color: $bg-gray-02;
  }
}


/*= SECCIÓN ZONA DE APRENDIZAJE =*/
.section-learning {
  @include pd-section(50px);
  background-color: #ccc;
  background-image: url('../img/bg-zona-aprendizaje.jpg');
  background-size: cover;
  color: #fff;
  text-align: center;
  h2 {
    text-transform: uppercase;
    color: #fff;
  }
  .info {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  a.btn {
    margin-top: 10px;
  } 
}

/*= SECCIÓN DE PAGO =*/
.section-way-pay {
  @include pd-section(40px);
  background-color: $bg-gray-02;
  text-align: center;
  a.btn {
    margin: 10px 20px 10px 0px;
    display: inline-block;
    i {
       margin-right: 10px;
    }
  }
  span {
    display: inline-block;
    > a {
      display: inline-block;
      margin: 5px 0px 5px 10px;
    }
  }
  img.payment {
    width: 50px;
    height: 32px;
  }
}

/*= HERO =*/
// esta clase permite darle el estilo inical a toda la sección. Debe estar dentro de un contenedor con clase propia para poder modificarse desde ahi el conetenido de hero
.hero {
  width: 100%;
  background-color: #2f3251; //cambiar cuando se tengan las imágenes de fondo
  //background-image: url('../img/bg_dominio.jpg');
  background-size: cover;
  background-position: 0 50%;
  .wrapper-content {
    /*
    display: table;
    width: 100%;
    height: 500px;
    */
  }
  .hero-content {
    //display: table-cell;
    //vertical-align: middle;
    color: #fff;
    /*Padding en casos responsive*/
    padding-top: 60px;
    padding-bottom: 60px;
  }

}

/*= SECCIÓN DE BENEFICIOS =*/
.section-benefits {
  padding-top: 60px;
  padding-bottom: 30px; //Se compensa con el margin bottom de 30 de los elementos internos
  background-color: $bg-gray-02;
  h2,
  h5 {
    text-transform: uppercase;
  }
  .media {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .media-left {
    padding-right: 15px;
    span {
      display: inline-block;
      background-color: $gray;
      border-radius: 50%;
      width: 70px;
      height: 70px;
      text-align: center;
      padding-top: 18px;
    }
    img {
      width: 32px;
      height: 32px;
    }
  }
}

/*= SECCIÓN PREGUNTAS FRECUENTES =*/
.section-faq {
  @include pd-section(60px);
  background-color: $bg-gray-02;
  .item-faq {
    h5 {
      padding-left: 30px;
      margin-bottom: 0px;
      margin-top: 30px;
      line-height: 1.5;
      a {
        color: $gray;
        position: relative;
        &[aria-expanded="true"]{
          &::before {
            content: "\f056"; //minus circle
            font-family: 'FontAwesome';
            font-size: 19px;
            position: absolute;
            left: -30px;
            top: 0px;
          }
        }
        &[aria-expanded="false"]{
          &::before {
            content: "\f055"; //plus circle
            font-family: 'FontAwesome';
            font-size: 19px;
            position: absolute;
            left: -30px;
            top: 0px;
          }
        }
      }
      &.subtitle {
        margin: 20px 0;
        padding-left: 0;
      }
    }
    .panel-body {
      padding: 20px 0px 0px 30px;
    }
  }
}


/*= SECCIÓN TAMBIEN TE OFRECEMOS =*/
.offers-content {
  @include pd-section(60px);
  .media{
    width:100%;
  }
  .media-right, .media-left{
    width:50%;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .media-body{
    width:50%;
  }
  @media screen and (max-width: 767px) {
    .media-body, .media-left, .media-right {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }
    .media-body {
      p {
        margin-bottom: 20px;
      }
    }
    .media-left, .media-right {
      padding: 0;
      margin-bottom: 25px;
    }
  }
}

/*= SECCIÓN DE TABLA DE CARACTERISTICAS/FEATURES =*/

.table-features{
  table-layout: fixed;
  margin-bottom: 0;
  table {
    margin-bottom: 0;
    tr {
      th {
        width: 15%;
        &:first-child {
          width: 25%;
        }
      }
    }
  }
  /*Media Query de Table-features*/
  @media screen and (max-width: 991px) {
    table {
      td {
        text-align: center;
        &:first-child {
          text-align: left !important;
        }
      }
    }
  }  
}

/*= SECCIÓN TABLA DE PLAN-PRECIOS =*/
.price-plans{
  @include pd-section(60px);
  
  table.plan-precios {
    margin-bottom: 0px;
    th {
      background-color: transparent !important;
      height: 26px;
      vertical-align: middle;
      text-align: center;
      color: $gray;
      padding: 0 5px;
      font-family: $font-family-base;
      text-transform: none;
    }
    tbody {
      font-family: $headings-font-family;
      border: 1px solid $gray-light;
      tr {
        border-bottom: 1px solid $gray-light;
      }
      td {
        height: 100px;
        vertical-align: middle;
        text-align: center;

        &:first-child {
          color: $gray;
          font-size: 14px;
          text-transform: uppercase;

        }
        &.almc, &.transf, &.email {
          padding: 0px 5px;
          font-size: 20px;
          color: $gray-darker;
          line-height: 1;
        }
        small {
          font-size: 14px;
          color: $gray-darker;
          margin-left: 3px;
          display: inline-block;
        }
        &.email {
          border-right: 1px solid $gray-light;
        }
        &.price {
          font-size: 40px;
          color: $brand-primary;
          position: relative;
          line-height: 1.1;
          .moneda {
            font-size: 25px;
            margin-right: 5px;
          }
          small {
            position: relative;
            top: -15px;   
          }
        }
        &.buy {
          //border-left: 1px solid $gray-light;
        }
      }
    }
  }

  /* Media query de price plans */
  @media screen and (max-width: 767px) {
    table.plan-precios {
      tbody {
        td.price {
          font-size: 30px;
          small {
            top: -5px;
          }
        }
      }
    }
  }
}


/*= ELEMENTOS CARTILLAS DE PRECIO =*/
.price-card {
  text-align: center;
  margin-bottom: 25px;
  .extension {
    background-color: $gray-darker;
    //border: 1px solid $gray-darker;
    font-family: $headings-font-family;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    //padding: 20px 0;
    height: 80px;
  }
  .description {
    padding: 25px 20px;
    background-color: $bg-gray-02;
    -webkit-box-shadow: inset 0 0 0 1px $gray-light;
    box-shadow: inset 0 0 0 1px $gray-light; 
  }
  p {
    margin-bottom: 0;  
  }
  p.text-primary {
    font-size: 24px;
    font-family: $headings-font-family;
    font-weight: bold;   
    span {
      font-size: 40px;
    }
  }
  a.btn {
    width: 100%;
  } 
  /* Price Card Small
  &.small {
    .extension {
      font-size: 24px;
      height: 43px;
    }
    .description {
      padding: 0;
    }
    p.text-primary {
      font-size: 14px;  
      height: 46px;
      padding: 6px 0; 
      span {
        font-size: 20px;
      }
    }
  }*/
}
