/*
	DOMINIOS
----------------------------------------------------*/
/* Hero de pagina inicia de dominios*/
.hero-domain {
  background-image: url('../img/bg_dominio.jpg');
  h1 {
    color: #fff;
    margin-bottom: 50px;
  }
  h2 {
    margin-bottom: 5px;
  }
  form.search-domain {
    margin-bottom: 40px;
    .form-group {
      width: 100%;
    }
    input {
      margin-bottom: 5px;
    }
    input[type="text"] {
      max-width: 640px;
      width: 70%;
    }
  }
  /*Items de precios en oferta*/
  .price-offer {
    text-align: center;
    margin-bottom: 50px;  //Para separación en responsive. Igual al mt del primer elementos de hero
    &:last-child {
      margin-bottom: 15px;
    }
    .text-primary {
      font-family: $headings-font-family;
      font-weight: bold;
    }
    p.prices {
      font-family: $headings-font-family;
      font-weight: bold;
      line-height: 1.2;
      text-align: center;
    }
    span.before {
      color: #dfdfdf;      
      font-size: 25px;
      margin-right: 15px;
      display: inline-block;
      small {
        font-size: 14px;
      }
      .tachado {
        text-decoration:line-through;
      }
    }
    span.offer {
      font-size: 40px;
      display: inline-block;
      small {
        font-size: 25px;
      }
    }
    span.igv {
      width: 100%;
      bottom: -13px;
      right: 0;
    }
  }
}

/*Hero de pagina de RESULTADOS DE BÚSQUEDA*/
.hero-domain-search {   
  background-image: url('../img/bg_dominio.jpg');
  i.available{
    width: 33px;
    height: 33px;
    font-size: 17px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    background-color: $brand-primary;
    margin-bottom: 20px;
  }
  i.not-available {
    @extend i.available;
    background-color: $brand-danger;
  }   
  h5 {
    margin-bottom: 15px;
  }
  .encabezado {
    margin-bottom: 30px;
    h1 {
      color: #fff;
      position: relative;
      display: inline-block;
      margin-bottom: 20px;

      span.text-primary {
        font-size: 25px;
        padding-right: 5px;
        display: inline-block;
      }
      span.igv {
        right: 0;
        //bottom: 7px;
      }
    }
    .wrapper-plan {
      display: inline-block;
    }
    .price,
    .plazo {
      display: inline-block;
    }
    //Sección de precios
    .price {
      position: relative;
      margin-left: 15px;
      margin-bottom: 20px;
      margin-right: 15px;
      text-align: right !important;
      color: $brand-primary;
      font-size: 25px;
      font-family: $headings-font-family;
      font-weight: bold;
      text-align: center;
      line-height: 1.1;
      
      /* Texto Oferta*/
      .oferta {
        color: $brand-danger;
        font-size: 14px;
        margin-right: 10px;
      }
      .moneda {
        font-size: 25px;
      }
      small {
        font-size: 14px;
        color: $gray-dark;
        margin-left: 5px;   
      }
      .price-before {
        font-family: $font-family-base;
        font-size: 13px;
        color: $gray-lighter;
        margin-top: 5px;
        position: absolute;
        width: 100%;
        left: 0;
      }
      /*Testo tachado*/
      .tachado {
        text-decoration: line-through;
      }
      /*igv*/
      .igv {
        position: relative;
        display: block;
        width: 100%;
        margin-bottom: 5px;
        left: 0;
      }
    }
    /*Plazo -dropdown*/
    .plazo {
      margin-right: 20px;
      margin-bottom: 20px;
      .time, .caret {
        color: #fff;
      }
      .time-limit {
        display: inline-block;
        font-size: 16px;
        margin-left: 10px;
        > a {
          display: inline-block;
          cursor: pointer;
          color: $gray-dark;
        }
        > ul{
          margin-top: 5px !important;
          min-width: 90px;
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0;
          border-top: 3px solid $brand-primary;
          left: auto;
          right: 0;
          li {
            padding: 0 15px;
          }
          a {
            padding: 10px 0;
            border-bottom: 1px solid $gray-light;
            &:hover {
              background: none !important;
            }
          }
        }
      }
     }

    a.btn {
      margin-bottom: 20px;
      margin-top: 20px;
      i {
        margin-right: 8px;
      }
    }
  } //fin encabezado
  
  
  form.search-domain {
    margin-top: 30px;
    .form-group {
      width: 100%;
    }
    input {
      margin-bottom: 5px;
    }
    input[type="text"] {
      max-width: 640px;
      width: 70%;
      margin-right: 10px;
    }
  }
  
}

/*Hero de pagina de transferencia dominio*/
.hero-domain-transfer {
  background-image: url('../img/bg_dominio.jpg');
  h2 {
    margin-bottom: 5px;
  }
  h1 {
    color: #fff;
    margin-bottom: 50px;
  }
  form.search-domain {
    margin-bottom: 40px;
    .form-group {
      width: 100%;
    }
    input {
      margin-bottom: 5px;
    }
    input[type="text"] {
      max-width: 640px;
      width: 70%;
    }
  }
}
  
/*Banner*/
#banner-domains {
  padding-top: 60px;
  padding-bottom: 60px; 
}

/*Promociones de Dominios*/
.promotion-domains {
  padding-bottom: 40px;
}
/*Resultados de busqueda de Dominios*/
.domain-search-results{
	padding-top: 60px;
  padding-bottom: 35px; // contando con el 25px de mb de table
	h2 {
    margin-bottom: 40px;
  }
  h3 {
    margin: 30px 0; //Separación de las dos secciones adyacentes

  }
}

/*Tabla de resultados*/
.results-table {
  table-layout: fixed;
  tbody {
    tr {
      border: 1px solid $gray-light;
      background-color: $bg-gray-02;
      &.not-available {
        td.price {
          color: inherit;
          font-size: 16px;
          font-family: $font-family-base;
        }
      }
      /**/
      &.more {
        text-align: center;
      }
    }
    td {
      vertical-align: middle !important;
      position: relative;
      padding: 20px !important;
      word-wrap: break-word;
      &.domain-name {
        font-family: $headings-font-family;
        padding-left: 30px;
        .fa {
          width: 33px;
          height: 33px;
          color: $gray;
          font-size: 17px;
          text-align: center;
          padding-top: 7px;
          border-radius: 50%;
          margin-left: 30px;
        } 
      }
      &.price {
        position: relative;
        text-align: right !important;
        color: $brand-primary;
        font-size: 25px;
        font-family: $headings-font-family;
        text-align: center;
        line-height: 1.1;
        
        /* Texto Oferta*/
        .oferta {
          color: $brand-danger;
          font-size: 14px;
          margin-right: 10px;
        }
        .moneda {
          font-size: 14px;
        }
        small {
          font-size: 14px;
          color: $gray-dark;
          margin-left: 5px;   
        }
        .price-before {
          font-family: $font-family-base;
          font-size: 14px;
          color: $gray-lighter;
          margin-top: 10px;
        }
        /*Testo tachado*/
        .tachado {
          text-decoration: line-through;
        }
        /*igv*/
        .igv {
          position: relative;
          display: block;
          width: 100%;
          left: 0;
        }
      }
      &.plazo {
        width: 125px;
        .time-limit {
          display: inline-block;
          font-size: 16px;
          margin-left: 10px;
          > a {
            display: inline-block;
            cursor: pointer;
            color: $gray-dark;
          }
          > ul{
            margin-top: 5px !important;
            min-width: 90px;
            padding-top: 0;
            padding-bottom: 0;
            margin-top: 0;
            border-top: 3px solid $brand-primary;
            li {
              padding: 0 15px;
            }
            a {
              padding: 10px 0;
              border-bottom: 1px solid $gray-light;
              &:hover {
                background: none !important;
              }
            }
          }
        }
      }
      &.add {
        width: 155px;
        text-align: right;
        padding-right: 30px;
        .btn-special{
          .fa {
            margin-right: 5px;
          }
          /*Deshabilitado*/
          &.disabled {
            cursor: not-allowed;
            pointer-events: none;
            background-color: $gray-lighter;
            border-color: $gray-lighter;
          }
        }
      }
    }
  }//fin tbody
  tfoot {
    text-align: right;
    td {
      padding: 20px 0px !important;
    }
  }
}

/*Dominios más usados*/
.more-domains {
  padding-top: 60px;
  padding-bottom: 30px;
  table {
    margin-bottom: 30px;
    tbody {
      tr {
        td a {
          display: inline-block;
          width: 100%;
        }
        td:first-child a{
          color: $gray-dark;
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }
  .table-wrapper {
    position: relative; //Para poder iubicar a .igv
    padding-bottom: 5px;
    span.igv {
      right: 15px;
      bottom: 5px;
    }
  }
}

/*= MEDIA QUERY =*/
@media screen and (max-width: 991px) {
  .results-table {
    tbody {
      td.domain-name {
        .fa {
          display: block;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  [class*="hero-domain"] {
    form.search-domain {
      input[type="text"]{
        max-width: 100%;
        width: 100%;
      }
    }
  }
  .hero-domain {
    .price-offer{
      display: inline-block;
    }
  }

  .prefix, .extension, .suffix {
    table {
      td {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .results-table {
    table-layout: auto;
      width: 575px;
    tbody {
      td.price {
        .oferta {
          display: inline-block;
          margin-right: 0;
        }
        .price-before {
          font-size: 13px;
        }
        small {
          display: block;
        }
      }
    }
    tfoot {
      text-align: left;
    }
  }
}

@media screen and (max-width: 480px) {
  .hero-domain-search {
    .encabezado{
      .price{
        margin-left: 0;
      }
      .plazo {
        margin-right: 0;
      }      
    } 
  }
}