/*
  FOOTER
----------------------------------------------------*/
#footer{
 padding-top:30px;
 background:$gray-darker;
 color:#ffffff;
  .logo-footer,
  .recent-posts,
  .suscription,
  .socials {
    margin-top: 20px;
  }

  .enter{
    width:100px;
    height:60px;
  }
  .title-1{
    margin-bottom: 30px;
  }
  .date{
    color:$gray;
  }
  .mg-57{
    margin-bottom: 57px;
  }
  /*Logo en footer*/
  .logo-footer {
    text-align: center;
    .logo-a1{
      width: auto;
      height: 75px;
    }
  }
  
  /*Posts Recientes*/
  .recent-posts {
    .media{
      margin-bottom: 30px;
    }
    .media-heading {
      a {
        color: #fff;
        &:hover {
          color: $brand-primary;
        }
      }
    }
    .fa {
      margin-right: 8px;
    }
  }
  
  /*Suscription*/
  .suscription {
    .input-group{
      margin-bottom: 30px;
      .input-group-addon{
        background:$brand-primary;
        color: #ffffff;
        border:none;
      }
    }
  }
  
  .socials{
    margin-bottom: 20px;
    span {
      margin: 0 8px;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
    .fa{
      width:35px;
      height: 35px;
      padding: 8px;
      margin-top: 10px;
      background-color: $gray;
      font-size: 20px;
      color:$gray-darker;
    }
  }
  hr{
    margin:0;
    border: 0;
    border-top: 1px solid #444444;
  }
    /*Menu footer*/
  ul.menu-footer{
    padding: 15px 0px;
    list-style: none;
    color: $gray;
    margin-bottom:0 !important;
    li {
      float: left;
      padding: 0px 15px 0px 10px;
      border-right: 1px solid #444444;
      margin: 5px 0;
      &:first-child {
        padding-left:0;
      }
      &:last-child {
        border-right: none ;
        padding-right: 0;
      }
      a {
      color:$gray;
      }
      a:hover{
        color:$brand-primary;
      }
    }
  }
  .copyright{
    min-height: 70px;
    padding: 23px 0px;
    background: #111;//$gray-darker;
    color:$gray;
    p {
      margin-bottom: 0;
      position: relative;
      &:last-child {
        text-align: right;
      } 
    }
    span {
      margin-right: 33px;
    }
    .logo-atix{
      display: inline-block;
      width: 28px;
      height: 28px;
      background-image: url('../img/powered.png');
      background-size: cover;
      position: absolute;
      right: 15px;
      top: -2px;
      &:hover{
        background-image: url('../img/powered-active.png');
      }
    }
  }

  /*Media query de footer*/
  @media screen and (max-width: 991px) {
    .title-1 {
      border-bottom: 1px solid #444444;
    }
  }
  @media screen and (max-width: 767px) {
    .title-1 {
      text-align: center;
      border-bottom: 1px solid #444444;
      margin-top: 30px;
    }
    .copyright {
      p {
        text-align: center !important;
        font-size: 12px;
        span { 
          margin-right: 5px;
        }
      }
      .logo-atix {
        right: inherit;
      }
    }
     
  }  //Fin media Query
}
