/*
  PÁG. FORMAS DE PAGO
----------------------------------------------------*/
#pg-payment {
  /* Sección Enlaces de Interest*/
  .more-interest{
    margin-top: 35px;
  }
}
.nav-payment {
  .nav {
    a {
      padding-left: 25px;
    }
    i.fa {
      position: absolute;
      left: 0;
      top: 18px;
    }
  }
}

/*= Página de Reporte de Pago =*/
.pay-report {
  @include pd-section(60px);
  .bcp-payment {
    @include pd-section(0px);
  }
}
.pay-content {
  /*Formulario de reporte de pago*/
  form.report-form {
    margin-top: 30px;
    margin-bottom: 30px;

    .form-control {
      padding: 10px 15px;
    }
    input, select, textarea { //form-control
      margin-bottom: 20px;
    }
    .form-wrap {
      //Campos de formulario
      > input, > select,
      > .wrapper  {
        float: left;
        width: 49%;
        &:first-child {
          margin-right: 2%;
        }
      }
    }
    /*Estilos para desplegables*/
    [class*="select-"] {
      width: 100%;
      margin-bottom: 20px;
      .btn-input {
        width: 100%;
        padding: 10px 60px 10px 15px; 
        text-transform: initial;
        text-align: left;
      }
      .dropdown-toggle {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0;
      }
      .list {
        width: 100%;
        height: 150px;
        overflow-y: auto;
        margin-top: 5px;
      }
    }
    /*Estilos para fecha*/
    #fecha {
      width: 46px;
      padding-left: 8px;
      padding-right: 8px;
      position: absolute;
      top: 0;
      right: 0;
    }
    /*Estilos para Posicionar Popover*/
    .wrapper {
      position: relative;
      display: block;
      [data-toggle="popover"] {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 20px;
        color: $gray;
        cursor: pointer;
        &:hover {
          color: $brand-primary;
        }
      }
    }
    /*Estilos para cada campo*/
    .mensaje{
      margin-bottom: 25px;
      span {
        color: $brand-danger;
      }
    }
    textarea {
      height: 200px;
    }

    /* Upload file*/
    #btn-comprobante {
      margin-bottom: 20px;
      position: relative;
      i.fa {
        margin-right: 5px;
      }
      input#comprobante {
        position: absolute;
        left: 0;
        top: 0;
        color: $gray-lighter;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
      }
    }
    //Span para mostrar archivo
    span#file-archivo {
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 20px;
      position: relative;
      top: -5px;
    }
  }//Fin form-control
}

/*= Pág. Pago por BCP =*/
.bcp-payment {
  @include pd-section(60px);
  //tab 
  ul.nav-comprobantes {
    margin-top: 30px;
    h5 {
      margin-bottom: 0;
      font-weight: normal;
    }
    li{
      a {
        background-color: $bg-gray-01;
        border: 1px solid $gray-light;
        border-bottom: none;
        padding: 15px 30px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      h5 {
        color: $brand-primary;
      }
      &.active {
        a {
          background-color: $brand-primary;
          border: 1px solid $brand-primary;
          margin-right: 5px;
          border-bottom: none; //activar sino quiere que sea visible
        }
        h5 {
          color: #fff;
        }
      }
    }
  }
  .tab-comprobantes {
    padding: 20px;
    border: 1px solid $gray-light;
    background-color: $bg-gray-01;
    border-top: none;
    margin-bottom: 30px;
  }
}

/*= Pág. Pago por tarjeta de credito =*/
.creditcard-payment {
  @include pd-section(60px);
}

/*= Pág. Pago por western union =*/
.western-payment {
  @include pd-section(60px);
}

/*= Pág. Pago por Moneygram =*/
.moneygram-payment {
  @include pd-section(60px);
}

/* Media Query */
@media screen and (max-width: 480px) {
  .pay-content {
    form.report-form {
      /* Campos de 100% ancho*/
      .form-wrap {
        //Campos de formulario
        > input, > select,
        > .wrapper  {
          float: none;
          width: 100%;
          &:first-child {
            margin-right: 0;
          }
        }
      }
      /* Boton de subida de archivo*/
      #btn-comprobante {
        margin-bottom: 0;
      }
      span#file-archivo {
        display: block;
        margin-left: 0;
        top: 5px;
      }
    } 
  }
  .bcp-payment {
    ul.nav-comprobantes {
      li {
        a {
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    } 
  } 
}