/* 
      HEADER
----------------------------------------------------------------*/
#header {
  border-top: 3px solid $brand-primary;
  //box-shadow: 0 0 12px rgba(0,0,0, 0.09);
}

/*= TOP BAR =*/
.top-bar-container {
  min-height: 45px; //Realmente no es necesario porque el padding de los elmento internos ya le da la altura correspondiente
}
#menu-pais, #menu-moneda {
  display: inline-block; //Para que puedan caber juntos
  min-width: 100px;
  padding-top: 11px;
  padding-bottom: 10px;
  >a {
    display: inline-block;
    padding-left: 34px;
    cursor: pointer;
    color: $gray;
    position: relative;
    &:hover {
      text-decoration: none;
    }
  }
}
#menu-pais {
  span {
    //Aqui van las posiciones de los Paises
    &[title="Argentina"]{
      background-position: -24px 0;
    }
    &[title="Chile"]{
      background-position: -72px 0;
    }
    &[title="Colombia"]{
      background-position: -96px 0;
    }
    &[title="Ecuador"]{
      background-position: -120px 0;
    }
    &[title="Espana"]{
      background-position: -144px 0;
    }
    &[title="Mexico"]{
      background-position: -168px 0;
    }
    &[title="Paraguay"]{
      background-position: -192px 0;
    }
    &[title="Peru"]{
      background-position: 0 0;
    }
    &[title="Dominicana"]{
      background-position: -216px 0;
    }
    &[title="Uruguay"]{
      background-position: -240px 0;
    }
    &[title="Otros"]{
      background-position: -264px 0;
    }
  }
  span.current{
    display: inline-block;
    width: 24px;
    height: 16px;
    background-image: url(../img/banderas_sprite.png);
    position: absolute;
    left: 0;
    top: 3px;
    //background-position: eso va a cambiar de acuerdo al title del span pais
  }
}

/*Lista de Paises y moneda*/
ul.paises,
ul.moneda {
  min-width: 150px;
  width: 150px;
  padding-top: 0;  
  padding-bottom: 0;
  margin-top: 0;
  border-top: 3px solid $brand-primary;
  li {
    padding: 0 15px;
  }
  a {
    color: $gray;
    padding: 14px 0 11px 34px;
    border-bottom: 1px solid $gray-light ;
    line-height: 19px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    span{
      display: inline-block;
      width: 24px;
      height: 16px;
      background-image: url(../img/banderas_sprite.png);
      position: absolute;
      top: 15px;
      left: 0;
      //Aqui estaba los span con su title respectivo
    }
    &:hover {
      color: $brand-primary;//#cc6633;
      background: white;
    }
  }
}

#menu-moneda {
  min-width: inherit;
  > a {
    padding-left: 15px;
  }
  ul.moneda {
    width: 100px;
    min-width: 100px;
    a {
      padding-left: 0;
    }
  }
}
/*Menu de Topbar*/
ul.menu-topbar{
  padding: 11px 0 10px;
  margin-bottom: 0;
  list-style: none;
  float: right;
  color: $gray;
  li {
    float: left;
    padding: 0 10px;
    border-right: 1px solid $gray-light;
    &:last-child {
      border-right: none ;
      padding-right: 0;
    }
    i {
      margin-right: 5px;
      color: $brand-primary;
    }
  }
}

/*= HEAD =*/
.head {
  background-color: $bg-gray-01;
  //debe medir en total 100px esta sección
  position: relative; //Para posicionar el menu-container
  .navbar {
    position: static;
  }
  .navbar-brand {
    height: auto;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  #logo {
    margin-top: 17px;
    margin-bottom: 17px;
    height: 64px; 
    width: auto;
    min-width: 55px; //Eliminar al final. No es necesario
    /* Media Query*/
    @media screen and (max-width: 991px) {
     height: 50px;
     min-width: initial;
     margin-top: 10px;
     margin-bottom: 10px; 
    }
  }

}
/* Botón de Menú responsive*/
.navbar-header {
  position: relative;
}
.navbar-toggle {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 0;
  float: none;
  margin-bottom: 0;
  margin-top: 0;
  background-color: $brand-primary;
  border: 2px solid $brand-primary;
  border-radius: 3px;
  .icon-bar {
    background-color: #FFF;
  }
}

/*Menu de Navegación*/
.top-menu {
  display: table;
  height: 100px;
  > li {
    float: none;
    display: table-cell;
    vertical-align: middle;
    position: static;
    &:hover,
    &.active {
      >a {
        color: $brand-primary;
      }
    }
    &.menu-dominios, &.menu-hosting {
      &:hover{
        .menu-container {
          display: block;
        }
      }
    }
    > a {
      padding: 0 21px;
      text-transform: uppercase;
    }
  }
  /* Container menu anidado */
  .menu-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 100px;
    //top: 148px; //correspondiente a la altura del menu de navegación
    z-index: 1000;
    border-top: 3px solid $brand-primary;
    box-shadow: 0 0 12px rgba(0,0,0, 0.09);
    background-color: #fff;
    display: none;
    ul {
      @include list-unstyled;
      &.pull-left {
        width: 50%;
        //Equiparar padding que otorgan las columnas de Bootstrap
        &:first-child {
          padding-left: 0 !important;
          padding-right: 15px;
        }
        &:last-child {
          padding-right: 0;
          padding-left: 15px;
        }
      }
      &.two-column {
        column-count:2;
        column-gap:30px;
          
        -webkit-column-count:2;
        -webkit-column-gap:30px;

        -moz-column-count:2;
        -moz-column-gap:30px;

        -o-column-count:2;
        -o-column-gap:30px;

        -ms-column-count:2;
        -ms-column-gap:30px;
      }
    }
    li {
      border-bottom: 1px solid $gray-light;
      transition: all 0.35s ease-in;
      &:last-child {
        border-bottom: none !important;
      }
      a {
        display: block;
        padding: 18px 15px 18px 30px;
        position: relative;
        color: $gray-darker;
        &:hover {
          color: $brand-primary !important;
          i {
            color: $brand-primary !important;
          }
        }
      }
      i {
        position: absolute;
        top: 24px;
        left: 15px;
      }
      span {
        color: $gray;
      } 
    }
    /*Descripcion*/
    ul.description {
      h5 {
        margin-top: 20px;
      }
      span {
        display: inline-block;
        margin-right: 20px;
        color: $brand-primary;
        font-family: Montserrat;
        font-weight: bold;
        //text-transform: uppercase;
        &:last-child {
          margin-right: 0;
        }
      }
      i {
        font-size: 24px;
        position: relative;
        top: 4px;
        left: 0;
        margin-right: 5px;
      }
    }
  }
}



/* Media Query */

@media screen and (max-width: 991px ){
  //Containers a 100%
  .top-bar-container {
    width: 100%;
  }
  .head {
    .navbar {
      width: 100%;
    }
  }
  //Espaciado entre elementos
  #menu-moneda > a {
    padding-left: 0;
    margin-left: -5px;
  }
  /* Menu de Navegación Responsive*/
  #main-menu { 
    .top-menu {
      .menu-container {
        top: 170px;
      }
      > li {
        > a {
          padding: 0 15px;
        }
      }
    }
  }
}
//EL punto donde el menu collapsa
@media screen and (max-width: 767px ){
  /* Menu de Navegación Responsive*/
  #main-menu { //#main-menu.in
    border-top: 3px solid #fff;
    .top-menu {
      display: initial;
      height: auto;
      > li {
        display: block;
        border-top: 1px solid $brand-primary;
        > a {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      /* Container menu anidado */
      .menu-container {
        position: initial; 
        border-top: none;
        box-shadow: none;
        background-color: transparent;
        ul.two-column {
          column-count: initial;
          column-gap: 0;
          -webkit-column-count: initial;
          -webkit-column-gap: 0;
          -moz-column-count: initial;
          -moz-column-gap: 0;
          -o-column-count: initial;
          -o-column-gap: 0;
          -ms-column-count: initial;
          -ms-column-gap: 0;
        }
        li {
          border-bottom: none;
          //border-top: 1px solid $brand-primary;
          a {
            padding: 10px 20px;
            font-size: 0.9em;
            i, span {
              display: none;
            }
          }
        }
        ul.pull-left {
          float: none;
          width: 100%;
          margin: 0 !important;
        }
        .description {
          display: none;
        } 
      }
    }
  }
}

@media screen and (max-width: 639px ){
  .top-bar {
    .col-xs-5 {
      width: 100%;
    }
    .col-xs-7 {
      display: none;
    }
  } 
}