/*
	HOSTING
----------------------------------------------------*/
/*Sección Hero hosting*/
.hero-hosting {
  background-image: url(../img/bg_vps.jpg);
  h1 {
    color: $brand-primary;
    margin-bottom: 40px;
  }
  a.btn {
    margin-left: 15px;
    margin-bottom: 20px;
    i {
      margin-right: 3px;
    }
  }
  p.info {
    margin-top: 30px;
  }  
}

/*Estilo general de Price Plan*/
.price-plan.btn-group {
  margin-bottom: 20px;
  > .btn-input {
    text-transform: none;
    padding: 6px 15px;
    max-height: 46px;
    width: 217px;
  }
  span.text-primary {
    font-family: $headings-font-family;
    font-weight: bold;
    font-size: 18px;
  }
  span.igv {
    bottom: -20px;
    right: 0;
  }

  /*Lista del dropdown*/
  ul.list-price {
    border-top: 3px solid $brand-primary;
    margin-top: 5px;
    padding: 0;
    left: -1;
    li {
      padding: 0 15px;
      a{
        padding: 10px 0;
        border-bottom: 1px solid $gray-light;
        &:hover {
          background-color: inherit;
        }
      }
      &:last-child {
        a{
          border-bottom: none;
        }
      }
    }
  }
  
}


/*Banner de Hosting*/
.hosting-banner {
  padding-bottom: 60px;
  padding-top: 0; //La separación la obtiene de la siguiente sección
}

.hosting-plan {
  h1 {
    margin-bottom: 50px;
    text-align: center;
  }
  h2 {
    margin-bottom: 5px;
    text-align: center;
  }
  table {
    span.igv {
      width: 100%;
      left: 0;
      top: 15px; 
    }
    tr.recomendado {
      border: 3px solid $brand-primary !important;
      td:first-child {
        position: relative;
      }
    }
    .esquina {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
} 

.hosting-features {
  @include pd-section(60px)
}

/* Media Query de Hosting*/
@media screen and (max-width: 991px) {
  .hosting-plan {
    table {
      td.price {
        padding-top: 20px;
      }
      span.igv {
        top: 10px; 
      }
    }
  }
}