/*
  PÁG. INICIO
----------------------------------------------------*/
/*Slider principal de Home*/
.main-slider-section {
  border-bottom: 3px solid $brand-primary;
  #main-slider { //con clase carousel
    //height: 500px;
    .item {
      height: 500px;
      background-size: cover;
      position: 0 50%;
      h2.text-primary {
        margin-bottom: 15px;
      }
      h1 {
        color: #fff;
        border-left: 3px solid $brand-primary;
        padding-left: 15px;
        margin-bottom: 30px;
        small {
          font-size: 25px;
        }
      }
      .info {
        width: 60%;
        margin-bottom: 30px;
      }
      
    }
    .slide-01 {
      background-image: url('../img/bg_home.jpg');
    }
    .slide-02 {
      background-image: url('../img/bg_vps.jpg');
    }
    .slide-03 {
      background-image: url('../img/bg_dominio.jpg');
    }
    .slide-04 {
      background-image: url('../img/bg_aprendizaje.jpg');
    }
    //Tamaño de los controles
    .carousel-control {
      font-size: 30px;
    }
  }
}
/*Media query de slider*/
@media screen and (min-width: 768px) {
  #main-slider {
    .carousel-control {
      .icon-prev {
        margin-left: -35px;
        &::before {
          font-size: 50px;
        }
      }
      .icon-next {
        margin-right: -35px;
        &::before {
          font-size: 50px;
        }       
      }
    }
  }
}

@media screen and (max-width: 480px) {
  #main-slider {
    .info {
      width: 100% !important;
    }
  }
}

// formulario de buscador de dominios
.section-search-domain{
  padding-top: 50px; 
  padding-bottom: 30px;

  form.search-domain {
    padding-top: 15px;
    .form-group {
      display: block;
    }
    input {
      float: left;
    }
    input[type="text"] {
      width: 73%;
      margin-right: 2%;
      margin-bottom: 5px;
    }
    input[type="submit"] {
      width: 25%;
      margin-bottom: 30px;
      padding: 5px;
    }
  }
  /* Media Query */
  @media screen and (max-width: 991px) {
    form.search-domain { 
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 767px) {
    form.search-domain {
      input {
        float: none;
        width: 100% !important;
      }      
    }
  }
}

// Slider de Oferta de precios
#offers-slider{
  color: $gray;
  
  .item {
    width: 100%;
  }
  .carousel-control.left,
  .carousel-control.right {
    background-image: none;
  }  
  p.intro {
    text-align: center;
    margin-bottom: 0;
  }
  p.prices {
    font-family: $headings-font-family;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
  }
  span.before {
    font-size: 25px;
    small {
      font-size: 14px;
    }
    .tachado {
      text-decoration:line-through;
    }
  }
  span.offer {
    font-size: 40px;
    small {
      font-size: 25px;
    }
  }
  span.igv {
    width: 100%;
    left: 0;
    bottom: -15px;
  }

  /*Media Query*/
  @media screen and (max-width: 991px) {
    
    p.intro {
      text-align: center;
    }
    p.prices {
      margin-bottom: 30px;
    }
  }
}


//.section-business-hosting
.section-business-hosting {
  display: table;

  > [class*="hosting"] {
    //float: left;
    background-size: cover;
    background-position: 0 50%;
    display: table-cell;
    width: 50%;
    padding: 60px 40px;
    color: #fff;
    h2 {
      color: #fff;
      line-height: 1.75; 
      margin-bottom: 20px;
    }
    h5 {
      color: #fff;
      line-height: 1.7857;
      margin-bottom: 30px;
    }

  }
  .standard-hosting {
    background-image: url('../img/bg_host_home2.jpg');
    //background-color: #4a4a4a;
    padding-left: 10%;
    text-align: right;
    a.btn {
      margin-left: 10px;
    }
  }
  .hosting-reseller {
    background-image: url('../img/bg_host_home1.jpg');
    background-position: 50% 50%;
    //background-color: #04a7dc;
    padding-right: 10%;
    a.btn {
      margin-right: 10px;
    }
  }
  
  /*Media Query*/
  @media screen and (max-width: 991px) {
    display: block;
    > [class*="hosting"] {
      display: block;
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    > [class*="hosting"] {
      padding-left: 20px !important;
      padding-right: 20px !important;
    }
  }
}

//.section-wordpress-hosting
.section-wordpress-hosting {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  img {
    width: 265px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .buy-plan {
    display: inline-block;
  }
  .price-plan {
    margin: 10px 30px 20px 30px !important; 
  }
  a.btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  /*Media Query*/
  @media screen and  (max-width: 767px) {
    .price-plan {
      margin-left: 10px !important;
      margin-right: 10px !important;
    }
  }
}

//sección VPS 
.section-plan-vps  {
  background-image: url('../img/bg_vps.jpg');
  background-size: cover;
  background-position: 0 50%;
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  h2 {
    color: #fff;
  }
  .benefits-vps {
    .media {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    h5 {
      color: #fff;
      margin-bottom: 0;
      text-transform: uppercase;
    }
    .media-left {
      span {
        display: inline-block;
        background-color: #858585;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        text-align: center;
        padding-top: 18px;
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  //Sección de Publicidad
  .wrap-ad {
    //background-color: $brand-primary;
    margin-bottom: 20px;
    h3 {
      background-color: $brand-primary;
      padding: 20px 24px;
      margin-bottom: 0;
      color: #fff;
      line-height: 35px;
      span { 
        font-size: 40px;
      }
    }
    .info {
      color: $gray-dark;
      padding: 24px;
    }
    a.btn {
      text-align: center;
      color: #fff;
      width: 100%;
    }
  }
  /*Media Query*/
  @media screen and  (max-width: 991px) {
    .wrap-ad {
       margin-top: 30px;
    }
  }
  @media screen and  (max-width: 479px) {
    .benefits-vps {
      .media {
        width: 100%;
      }
    }
  }
}

//Testimonios
.section-testimonials {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  h2 {
    margin-bottom: 30px;
  }
}

/*Testimonials slider*/
.testimonials-slider {
  margin-top: 30px;
  padding: 0 140px;
  text-align: center;
  .slick-track {
    padding-top: 40px;
  }
  .slick-slide {
    outline: none;
  }
  /* Imagen */
  .image {
    background-color: $gray-light;
    padding: 4px; 
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    cursor: pointer;
    transition: all 300ms ease 0s;
    &::after {
      border-left: 6px solid rgba(0, 0, 0, 0);
      border-right: 6px solid rgba(0, 0, 0, 0);
      border-top: 6px solid $brand-primary;
      bottom: 5px;
      content: "";
      left: 50%;
      margin-left: -6px;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 300ms ease 0s;
      -webkit-transition: all 300ms ease 0s;
      -moz-transition: all 300ms ease 0s;
      -ms-transition: all 300ms ease 0s;
      -o-transition: all 300ms ease 0s;
    }
  }


  .image-box {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 9;
    img{
      display: block;
      max-width: 100%;
      height: auto;
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      filter: grayscale(100%);
      filter: gray;
      transition: all 300ms ease 0s;
      -webkit-transition: all 300ms ease 0s;
      -moz-transition: all 300ms ease 0s;
      -ms-transition: all 300ms ease 0s;
      -o-transition: all 300ms ease 0s;
    }
  }

  /*Contenido*/
  .testimonial-info {
    text-align: center;
    padding-top: 100px;
    width: 840px;
    position: relative;
    left: 50%;
    margin-left: -420px;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    .comma {
      display: block;
      font-family: 'Times New Roman', Times, serif;
      font-size: 75px;
      font-weight: 700;
      //font-style: normal;
      color: $brand-primary;
      line-height: 24px;
    }
    .testimonial-content {
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      color: $gray-dark;
      line-height: 2.429;
      margin-bottom: 35px;
    }
    .author {
      font-family: $headings-font-family;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;
      color: $brand-primary;
    }
    samll {
      color: $gray;
    }
    .employment {
      color: $gray;
    }
  }

  /* Center */
  .slick-slide.slick-center {
    .image {
      padding: 3px;
      transform: scale(1.7);
      -webkit-transform: scale(1.7);
      -moz-transform: scale(1.7);
      -ms-transform: scale(1.7);
      -o-transform: scale(1.7);
      background: $brand-primary;
      &::after {
        visibility: visible;
        opacity: 1;
        bottom: -5px;
        border-top-color: $brand-primary;

      }
      .image-box {
        img {
          -webkit-filter: none;
          -moz-filter: none;
          -ms-filter: none;
          filter: none;
        }
      }
    }
    .testimonial-info {
      visibility: visible;
      opacity: 1;
    }
  }

  /* Dots*/
  .slick-dots {
    position: relative;
    //display: inline-block !important;
    margin-top: 36px;
    li {
      button {
        background: $brand-primary;
        border: 0 none;
        color: transparent;
        cursor: pointer;
        display: block;
        font-size: 0;
        height: 6px;
        line-height: 0;
        outline: medium none;
        padding: 0px;
        margin: 4px 0;
        width: 6px;
        border-radius: 50%;
        &::before {
          display: none;
        }
      }
      &.slick-active {
        button {
          width: 14px;
          height: 14px;
          margin: 0;
        }
      }
    }
  }
  /*Media Query de Testimonials Slider */
  @media screen and (max-width: 1000px) {
    padding: 0 50px;
    .testimonial-info {
      transform: translateX(-50%);
      left: 50%;
      margin-left: 0;
    }
  }
  @media screen and (max-width: 991px) {
    .testimonial-info {
      width: 720px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  @media screen and (max-width: 640px) {
    .testimonial-info {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}


//Frases
.section-quote {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $brand-primary;
  // Slider de Frases
  #text-slider {
    .item {
      text-align: center;
      color: #fff;
      line-height: 1.5;
      h1, h2, h3, h4, h5, h6 {
        color: #fff;
        margin-bottom: 0;
        line-height: 1.5;
      }
    }
    .carousel-control {
      background-image: none;
    }
  }
}