/*
  PÁG. NOSOTROS
----------------------------------------------------*/
#pg-nosotros{
 @include pd-section(60px);

 /*Sección lo mejor de NOSOTROS*/
 .section-best-of-us {
   padding: 0;
   margin-bottom: 30px;
 }
}

.nav-nosotros{
  .nav {
    li {
      a::before {
        font-family: FontAwesome;
        content: "\f0da";
        position: absolute;
        left: 0px;
        font-size: 1em;
      }
    }
  }
} 

.seccion-nosotros {
  .img-nosotros {
    width: 100%;
  }
}
.seccion-mision-vision {
  margin-top: 30px;
}
.otros-intereses {
  margin-top: 30px;
}
.gerente-descripcion {
  margin-top: 35px;
  .title {
    margin-bottom: 5px;
  }
  .subtitle {
    color: $gray;
  }
  .fa {
    border: 1px solid $brand-primary;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 10px;
    text-align: center;
    padding: 3px;
    margin-left: 10px;
  }
  .img-gerente {
    float: right;
    margin: 0 0 10px 20px;
  }
}
/* Media Query de Nosotros */
@media screen and (max-width: 480px) {
  .gerente-descripcion {
    .img-gerente {
      width: 100%;
      max-width: 300px;
      float: none;
      display: block;
      margin-right: auto;
      margin-left: auto;
    }
    .title, .subtitle {
      text-align: center;
    }
  }
}