/*
  VPS -SERVERS
----------------------------------------------------*/
.server-hero {
  background-image: url('../img/bg_vps.jpg');
  /*h2 {
    margin-bottom: 10px;
  }*/
  h1 {
    color: $brand-primary;
  }
  a.btn {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .info {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    margin-top: 30px;
  }
} 

.server-banner {
  padding-bottom: 60px;
}
.section-servers-plan  {
   padding-top: 60px;
   padding-bottom: 60px;
   text-align: center;
   h2 {
     margin-bottom: 5px;
   }
   h1 {
     margin-bottom: 50px;
   }
   .wrapper-plans {
     margin: 0 30px;

     //Para h5 de subtitulo
     + h5 {
       margin-top: 30px;
     }
   }
   .vps-plan {
     float: left;
     width: 33.33%;
     border: 1px solid $gray-light;
     margin-bottom: 30px;
     .features {
       background-color: $bg-gray-02;
       border-bottom: 1px solid $gray-light;
       padding: 25px 20px;
       ul {
         margin-bottom: 0;
         text-align: left;
         padding-left: 28px;
       }
     }
     /*VPS Recomendado*/
     &.recommended {
       transform: scaleY(1.1);
       position: relative;
       border: 3px solid $brand-primary;
       margin-bottom: 50px;
       &::before {
         content: url(../img/esquina_plan.png);
        position: absolute;
        left: -3px;
        top: -3px;
       }     
       .more {
         position: absolute;
         width: 100%;
         margin-top: 5px;
       }
     }
   }
   .price {
     padding: 30px 20px;
      .text-primary {
        font-family: $headings-font-family;
        font-size: 40px;
        line-height: 1.1;
        margin-bottom: 0;
        span {
          font-size: 24px
        }
      }
      .igv {
        position: relative;
        display: block;
      }
    }

  
}

.server-features {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Media Query de Servidores VPS*/
@media screen and (max-width: 991px) {
  .section-servers-plan {
    .vps-plan {
      .features {
        padding: 20px 10px;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .section-servers-plan {
    h2 {
      margin-bottom: 30px;
    }
    .vps-plan {
      width: 100%;
      float: none;
      max-width: 500px;
      margin-left: auto;
      margin-right: auto;
      &.recommended {
        transform: scaleY(1);
      }
    }
    .price{
      padding: 20px 10px;
    }
  }
}