/*
  PÁG. SEGURDIDAD - SSL
----------------------------------------------------*/
.ssl-hero {
  background-image: url('../img/bg_vps.jpg');
  /*h2 {
    margin-bottom: 5px;
  }*/
  h1 {
    color:$brand-primary;
    margin-bottom: 50px;
  }
  a.btn {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .info {
    margin-left: auto;
    margin-right: auto;
    max-width: 770px;
    margin-top: 30px;
  }
}

.ssl-banner {
  padding-bottom: 60px;
}

.section-ssl-plans {
  padding-top: 60px;
  text-align: center;
  h2 {
    margin-bottom: 5px;
  }
  h1 {
    margin-bottom: 50px;
  }
  table {
    table-layout: fixed;
    margin-bottom: 20px;
    min-width: 600px;
    tbody{
      td {
        height: 105px;
      }
      td.ssl-logo {
        width: 18%;
        img {
          width: 100%;
          height: auto;
        }
      }
      td.ssl-info {
        width: 32%;
        color: inherit;
        line-height: inherit;
        text-align: left;
        font-family: $font-family-base;
        border-right: 1px solid $gray-light;
        h5 {
          margin-bottom: 5px;
        }
      }
      //Span igv
      .igv {
        width: 100%;
        position: absolute;
        top: 15px;
      }
    }
  }
  .more-features {
    margin-bottom: 30px;
  }
  .subtitle {
    margin-top: 30px;
  }
}

#ssl-features {
  padding-top: 60px;
  padding-bottom: 60px;
}