//Inicio de slider simple
.banner.container
  .banner-content.clearfix
    .info-banner.col-md-4.col-sm-6
      p.text-primary  EN SEPTIEMBRE
      h2 HOSTING WORDPRESS 
      p.text-primary
        span.f-20 50% 
        | de DESCUENTO
    .info-banner.col-md-4.col-sm-6
      p CODIGO: AYUDA
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac mollis ante, eu facilisis metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 