//Inicio de slider de banner
#banner-slider.carousel.slide.carousel-fade(data-ride='carousel')
  // Indicators
  ol.carousel-indicators.sr-only
    li.active(data-target='#banner-slider', data-slide-to='0')
    li(data-target='#banner-slider', data-slide-to='1')
  // Wrapper for slides
  .carousel-inner(role='listbox')
    .item.active
      .banner-content.clearfix
        .info-banner.col-md-4.col-sm-6
          p.text-primary  EN SEPTIEMBRE
          h2 HOSTING WORDPRESS 
          p.text-primary
            span.f-20 50% 
            | de DESCUENTO
        .info-banner.col-md-4.col-sm-6
          p CODIGO: AYUDA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac mollis ante, eu facilisis metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  
    .item
      .banner-content.clearfix
        .info-banner.col-md-4.col-sm-6
          p.text-primary  EN SEPTIEMBRE
          h2 HOSTING WORDPRESS 
          p.text-primary
            span.f-20 50% 
            | de DESCUENTO
        .info-banner.col-md-4.col-sm-6
          p CODIGO: AYUDA
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac mollis ante, eu facilisis metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

  // Left and right controls
  a.left.carousel-control(href='#banner-slider', role='button', data-slide='prev')
    i.fa.fa-chevron-left(aria-hidden='true')
    span.sr-only Previous
  a.right.carousel-control(href='#banner-slider', role='button', data-slide='next')
    i.fa.fa-chevron-right(aria-hidden='true')
    span.sr-only Next
//Fin de slider