footer#footer
  .container
    .row
      .logo-footer.col-md-2.col-sm-6
        img.logo-a1(src="../img/logo_a1_gray.png", alt="Logo Hosting A1")
      .recent-posts.col-md-4.col-sm-6
        p.title-1 ENTRADAS RECIENTES
          ul.media-list
            li.media
              .media-left
                a(href='#')
                  img.media-object.enter(src='http://lorempixel.com/output/business-q-c-100-60-8.jpg', alt='Título de la entrada')
              .media-body
                p.media-heading This should be interesting
                span.date
                  i.fa.fa-calendar-o 
                  | Nov 26,2016
            li.media
              .media-left
                a(href='#')
                  img.media-object.enter(src='http://lorempixel.com/output/business-q-c-100-60-8.jpg', alt='Título de la entrada')
              .media-body
                p.media-heading Objectively seize scalable
                span.date
                  i.fa.fa-calendar-o 
                  | Nov 26,2016
            li.media
              .media-left
                a(href='#')
                  img.media-object.enter(src='http://lorempixel.com/output/business-q-c-100-60-8.jpg', alt='Título de la entrada')
              .media-body
                p.media-heading This should be interesting
                span.date
                  i.fa.fa-calendar-o 
                  | Nov 26,2016

      .suscription.col-md-4.col-sm-6
        p.title-1 SUSCRIBIRSE
        p.date.mg-57 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        form.input-group
            input.form-control(type='text', placeholder="nombre@dominio.com")
            span.input-group-btn
              button.btn.btn-primary(type="submit")
                i.fa.fa-check 
  
      .socials.col-md-2.col-sm-6
        p.title-1 SÍGUENOS
        p.text-center
          span: a(href="#", target="_blank", title="Síguenos en Facebook").fa.fa-facebook
          span: a(href="#", target="_blank", title="Síguenos en Twitter").fa.fa-twitter
          span: a(href="#", target="_blank", title="Síguenos en Instagram").fa.fa-instagram
    hr.bar
    ul.menu-footer.clearfix
      li
        a(href='politica-de-privacidad.html') Políticas de Privacidad
      li
        a(href='terminos-y-condiciones.html') Terminos y condiciones
      li
        a(href='nosotros.html') Nosotros
      li
        a(href='soporte.html') Soporte
      li
        a(href='contacto.html') Contácto
      li
        a(href='#') Acceso clientes
  .copyright
    .container
      .row
        p.col-sm-8 Hosting A1. Todos los derechos reservados © 2016 Arequipa - Perú
        p.col-sm-4
          span Powered by
          a(href="http://atixplus.com/", target="_blank", title="Atix Plus").logo-atix
  
  //To-top    
  a#to-top.to-top.fa.fa-chevron-up(href="#top")

//Scripts     
//script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
script(src="../js/jquery.min.js")
script(src='../js/bootstrap.js')
script(src='../js/slick.js')
//Script para modificar carousel de bootstrap (sliders)
script(type='text/javascript').
  $(document).ready(function(){
    //Slider de precios en home
    $("#offers-slider").carousel({
      interval: 3500
    });

    //Slider de Banner
    $("#banner-slider").carousel({
      interval: 3500
    });
  })
//Script para slider de testimonios en Home
script(type='text/javascript').
  $(document).ready(function(){
    //Función para estilos de Slider para home
    $('.testimonials-slider').slick({
      centerMode      : true,
      centerPadding   : '0px',
      slidesToShow    : 5,
      autoplay        :false,
      autoplaySpeed   :3000,
      arrows          :false,
      dots            :true,
      infinite        :true,
      responsive: [
                    {
                        breakpoint: 1199,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 5                        }
                    },
                    {
                        breakpoint: 992,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 3                        }
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 3                        }
                    },
                    {
                        breakpoint: 641,
                        settings: {
                            arrows: false,
                            centerMode: true,
                            centerPadding: '0px',
                            slidesToShow: 1                        }
                    }
                ]
      });    
  });

  /*Mover slider al hacer clic sobre la imagen*/
   $(".testimonials-slider .image").click(function(){
     var position = $(this).parent().data("slick-index");
     $('.testimonials-slider').slick('slickGoTo', position );
   })
   
//Script para Smooth Scroll
script(type='text/javascript').
  //Función para estilos de smoot scroll
  $(document).ready(function()
  {
    // Ocultar elemento a#to-top
    var windowHeight = window.innerHeight;

    $(window).scroll(function()
    {
      if ($(this).scrollTop() < windowHeight)
      {
        $('#to-top') .fadeOut();
      } else
      {
        $('#to-top') .fadeIn();
      }
    });

    // Desplazamiento scrroll hacia arriba de a#to-top
    $('#to-top').on('click', function()
    {
      $('html, body').animate({scrollTop:0}, 'slow');
      return false;
    });

    //Desplazamiento a tablas de caracteristicas
    $("a.to-table").click(function(e) {
        e.preventDefault();
        var link = $(this);  
        var anchor  = link.attr('href');  
        $("html, body").animate({scrollTop: $(anchor).offset().top}, 'slow');
      });    
  });

//Scripts para la pagina de Zona-aprendizaje.html -Masonry gallery
script(src="../js/masonry.pkgd.min.js")
script(type='text/javascript').
  var container = document.querySelector('#masonry');
  var masonry = new Masonry(container, {
    itemSelector: '.masonry-item',
    resize      : true
  });

//Script para upload file Página de reportar-pago.html
script.
  $("input#comprobante").change(function()
  {
    $("span#file-archivo").html($(this).val());
  }).css('border-width',function()
  {
    if(navigator.appName == "Microsoft Internet Explorer")
      return 0;
  });

//Script para activar los Popover de reportar-pago.html
script.
  $('[data-toggle="popover"]').popover({
     trigger: 'focus',
     container: 'body'
  });

//Script para plugin Datepicker
script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
script.
  $( "#datepicker" ).datepicker({
    maxDate: "+0D",
    dateFormat: "dd-mm-yy"
  });
  $( "#fecha" ).click(function(){
    $( "#datepicker" ).datepicker("show");
  })
