header#header
  // Top bar
  .top-bar-container.container
    .top-bar.row
      .col-md-3.col-sm-4.col-xs-5
        // Seleccionar País-Moneda
        #menu-pais.dropdown
          a.dropdown-toggle(data-toggle='dropdown')
            span.current(title='Peru')
            | Perú  
            span.caret
          ul.dropdown-menu.paises
            li
              a(href='#')
                span(title='Argentina')
                | Argentina
            li
              a(href='#')
                span(title='Chile')
                | Chile
            li
              a(href='#')
                span(title='Colombia')
                | Colombia
            li
              a(href='#')
                span(title='Ecuador')
                | Ecuador
            li
              a(href='#')
                span(title='Espana')
                | España
            li
              a(href='#')
                span(title='Mexico')
                | México
            li
              a(href='#')
                span(title='Paraguay')
                | Paraguay
            li
              a(href='#')
                span(title='Peru')
                | Perú
            li
              a(href='#')
                span(title='Dominicana')
                | República Dominicana
            li
              a(href='#')
                span(title='Uruguay')
                | Uruguay
            li
              a(href='#')
                span(title='Otros')
                | Otros Paises
        
        //Selección de moneda
        #menu-moneda.dropdown
          a.m-local.dropdown-toggle(data-toggle='dropdown')
            | PEN S/.  
            span.caret
          ul.dropdown-menu.moneda
            li
              a.m-local(href='#')
                | PEN S/.
            li
              a(href='#')
                | USD $
      .col-md-9.col-sm-8.col-xs-7
        ul.menu-topbar
          li
            i.fa.fa-phone(aria-hidden='true')
            | Llámanos: 065 - 123 456 789
          li.hidden
            i.fa.fa-envelope(aria-hidden='true')
            | Escríbenos: info@hostinga1.com
          li.hidden-sm.hidden-xs
            a(href='nosotros.html') Nosotros
          li.hidden-sm.hidden-xs
            a(href='soporte.html') Soporte
          li.hidden-sm.hidden-xs
            a(href='contacto.html') Contacto
          li
            a(href='#')
              i.fa.fa-comment(aria-hidden='true')
              | Chat
          li.hidden-sm.hidden-xs
            a(href='#')
              i.fa.fa-users(aria-hidden='true')
              | Acceso Clientes
  // Seccion Head
  .head.clearfix
    // Menu de navegación
    nav.navbar.container(role="navigation")
      .row
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#main-menu')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#')
            img#logo(src='../img/logo_a1.png', alt='Hosting A1')
        #main-menu.collapse.navbar-collapse
          ul.top-menu.nav.navbar-nav.navbar-right
            li.active
              a(href='index.html') Inicio
            // Menú multinivel DOMINIOS
            li.menu-dominios
              a(href='#') Dominios
              .menu-container
                .container.clearfix
                  ul.pull-left
                    li
                      a(href='registrar-dominio.html', title='Registrar dominio')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        |                             REGISTRAR TU DOMINIO 
                        br
                        span Pon tu marca en internet ya mismo
                    li
                      a(href='transferir-dominio.html', title='Transferir Dominio')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        |                             TRANSFERIR DOMINIO 
                        br
                        span En sencillos pasos
                  ul.description.pull-left
                    li
                      h5.text-primary GRATIS CON TU DOMINO
                      p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                      p.text-primary
                        span
                          i.fa.fa-check-circle(aria-hidden='true')
                          |  GESTIÓN DNS
                        span
                          i.fa.fa-check-circle(aria-hidden='true')
                          |  CONTROL PANEL
                        span
                          i.fa.fa-check-circle(aria-hidden='true')
                          |  SOPORTE 24/7
            li
              a(href='hosting-wordpress.html', title='Páginas web con Wordpress') Páginas Web
            // Menú Multinivel HOSTING
            li.menu-hosting
              a(href='#') Hosting
              .menu-container
                .container.clearfix
                  ul.two-column
                    li
                      a(href='hosting-economico.html', title='Hosting web')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        | HOSTING ECONÓMICO 
                        br
                        span Con todas las herramientas que necesitas.
                    li
                      a(href='hosting-empresarial.html', title='Hosting empresa')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        | HOSTING EMPRESA 
                        br
                        span Con toda la tecnología cloud.
                    li
                      a(href='hosting-wordpress.html', title='Hosting wordpress')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        | HOSTING WORDPRESS 
                        br
                        span Wordpress al instante.
                    //ul.pull-left
                    li
                      a(href='hosting-para-windows.html', title='Hosting ASP.NET')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        | HOSTING ASP.NET 
                        br
                        span Más MSSQL.
                    li
                      a(href='hosting-reseller.html', title='Hosting wordpress')
                        i.fa.fa-chevron-right(aria-hidden='true')
                        | HOSTING RESELLER
                        br
                        span Inicia tu negocio.
            li
              a(href='servidores-vps.html', title="Servidores") Servidores
            li
              a(href='seguridad-ssl.html', title="Seguridad") Seguridad
            li
              a(href='blog.html', title="Blog") Blog
