//- MIXINS FUNCIONES -//

//- mixin para HEAD
mixin head(titlePage)
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
  // Titulo
  title= titlePage
  // Links
  link(rel='stylesheet', href='../css/style.css')
  link(rel='stylesheet', href='../css/font-awesome.css')
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Muli:300,300i,400', rel='stylesheet')
  //Link para reportar-pago.html - JQUERY UI
  link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")

  link(rel='icon', href='../favicon.ico')

//- Mixin para barra de título de algunas páginas
mixin header-bar(title)
  header.header-bar
    .container
      .head-page
        h1: span= title

//- 
  Colocar el contenido indentado despues de un row, porque este elemento inicia con una columna. Sólo tres elementos por row
  Ejemplo en dominios.jade

mixin item-benefits(imageUrl, name)
  .media.col-md-4
    .media-left
      span
        img(src="#{imageUrl}", alt="#{name}")
    .media-body  
      h5= name
      if block
        block
      else
        p Texto de relleno: Sed ut perspiciatis unde omnis iste natus error sit voluptatem dantium, totam rem aperiam, eaque ipsa.

//-item-FAQ abierto
//- Para trabjar la parte de la funionalidad de collapsable.
    Se necesita agregar un numero para cada item, de forma correlativa y colocar como 2do parámetro el título de la pregunta.
    El contenido que va dentro de cada collpasable debe colocarse identado después de hacer el llamado e mixin. ejemplo en dominios.jade
mixin item-FAQ-open(number, title)
  .item-faq
    div(id='#heading-#{number}', role='tab')
      h5
        a(href='#collapse-#{number}', role='button', data-toggle='collapse', data-parent='#accordion', aria-expanded='true', aria-controls='collapse-#{number}')= title 
    div.collapse.in(id="collapse-#{number}", role='tabpanel', aria-labelledby='heading-#{number}', aria-expanded='true')
      .panel-body
        if block
          block
        else
          p No se ha agregado ningun contenido

//-item FAQ cerrado
mixin item-FAQ-close(number, title)
  .item-faq
    div(id='#heading-#{number}', role='tab')
      h5
        a(href='#collapse-#{number}', role='button', data-toggle='collapse', data-parent='#accordion', aria-expanded='false', aria-controls='collapse-#{number}', class="collapsed")= title
    div.collapse(id="collapse-#{number}", role='tabpanel', aria-labelledby='heading-#{number}', aria-expanded='false')
      .panel-body
        if block
          block
        else
          p No se ha agregado ningun contenido


//-item Offers
mixin item-offers-right(name,imageUrl)
  .media
    .media-body.media-middle 
      h2= name
      if block
        block
      else
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
    .media-right
      span
        img(src="#{imageUrl}", alt="#{name}")

mixin item-offers-left(imageUrl,name)
  .media
    .media-left
      span
        img(src="#{imageUrl}", alt="#{name}")
    .media-body.media-middle 
      h2= name
      if block
        block
      else
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

//-item Hero Content
mixin hero-content(title,bigtitle)
  .hero-content
    .container
      .hero-hosting.text-center
          .info-presentation
            h2= title
            p.big-title= bigtitle

    

//-item Price-card
mixin price-card(extension, price)
  .price-card
    .extension= extension
    .description
      p ¿Que estas esperando?
        br 
        | Consíguelo ahora a sólo
      p.text-primary  S/. 
        span= price
      a.btn.btn-primary(href="#", target="_blank") Comprar Ahora 

//-item Price-card-small
mixin price-card-small(extension, price)
  .price-card.small
    .extension= extension
    .description
      p.text-primary  S/. 
        span= price
      a.btn.btn-primary(href="#", target="_blank") Comprar 

//-Mixin para TABLE PLANs-PRECIO X FILAS
  mixin table-feature-row(plan, almac, almacSize, transf, transfSize, email, price)
    tr
      td.bg-gray-02= plan  
      td.almc.bg-gray-02= almac 
        small= almacSize
      td.transf.bg-gray-02= transf
        small= transfSize
      td.email.bg-gray-02= email
      td.price 
        span.moneda S/.
        | #{price}
        small X AÑO 
      td.buy
        a.btn.btn-primary(href="#") COMPRAR  

//-Mixin para TABLEPLAN X FILAS
mixin table-feature-row(caracteristica,basico, avanzado, profesional, premium, corporativo)
  tr
    td= caracteristica
    td= basico
    td= avanzado
    td= profesional
    td= premium
    td= corporativo