.nav-vertical
  ul.nav.nav-stacked
    li
      a(href='nosotros.html') ¿Quienes somos?
    li
      a(href='nuestra-organizacion.html') Nuestra Organización
    li
      a(href='soporte.html') Soporte
    li
      a(href='terminos-y-condiciones.html') Terminos y condiciones
    li
      a(href='politica-de-privacidad.html') Política de Privacidad
    li
      a(href='terminos-de-registro-de-dominios.html') Terminos de registro de dominio    