.nav-vertical
  ul.nav.nav-stacked
    li
      a(href='reportar-pago.html') 
        i.fa.fa-money
        | Reporte su pago aquí
    li
      a(href='pago-bcp-peru.html') 
        i.fa.fa-bank
        | BCP
    li
      a(href='pago-por-tarjeta.html') 
        i.fa.fa-credit-card-alt
        | Tarjetas de Crédito
    li
      a(href='pago-por-western-union.html') 
        i.fa.fa-credit-card
        | Western Union
    li
      a(href='pago-por-moneygram.html')
        i.fa.fa-credit-card 
        | MoneyGram