.section-best-of-us.gray
  .container
    h2 LO MEJOR DE NOSOTROS A TU SERVICIO
    .row
      .col-md-3.col-sm-6
        img(src="../img/icon_nos_1.png")
        h5 LOS MEJORES
          br 
          | PRECIOS EN OFERTA
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
      .col-md-3.col-sm-6
        img(src="../img/icon_nos_2.png")
        h5 SOPORTE 
          br 
          | PROFESIONAL
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
      .col-md-3.col-sm-6
        img(src="../img/icon_nos_3.png")
        h5 GARANTÍA
          br 
          | DE SATISFACCIÓN
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.
      .col-md-3.col-sm-6
        img(src="../img/icon_nos_4.png")
        h5 SEGURIDAD 
          br 
          | ESPECIALIZADA
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas eius necessitatibus eaque ipsum exercitationem possimus asperiores libero impedit rerum quo officia.