.section-way-pay
  .container
    a.btn.btn-primary(href="repotar-pago.html")
      i.fa.fa-ticket 
      | Reporte su pago aquí
    | O elija otras formas de pago
    span
      a(href="#"): img.payment(src="../img/icon_pago1.jpg")
      a(href="#"): img.payment(src="../img/icon_pago2.jpg")
      a(href="#"): img.payment(src="../img/icon_pago3.jpg")
      a(href="#"): img.payment(src="../img/icon_pago4.jpg")
      a(href="#"): img.payment(src="../img/icon_pago1.jpg")
      a(href="#"): img.payment(src="../img/icon_pago2.jpg")
      a(href="#"): img.payment(src="../img/icon_pago3.jpg")
      a(href="#"): img.payment(src="../img/icon_pago4.jpg")
      a(href="#"): img.payment(src="../img/icon_pago1.jpg")