.section-learning
    .container
      h2 HOSTING A1 TE ENSEÑA
      div.info  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, perferendis, amet! Numquam tempore deleniti a amet quod minima iure veritatis aliquam expedita. Commodi odit repellendus, officiis est aliquam perferendis. Pariatur.
      a.btn.btn-primary(href="zona-aprendizaje.html") Acceder al centro de aprendizaje