.tableplan
  .container
    .row
      .col-md-12
        h2 TODAS LAS CARACTERISTICAS DE NUESTROS PLANES
        table.table.table-striped
            thead
              tr
                th 
                th BÁSICO
                th AVANZADO
                th PROFESIONAL
                th PREMIUM
                th CORPORATIV0
            tbody
              tr
                td Espacio de Almacenamiento
                td 100 MB
                td 200 MB
                td 300 MB
                td SI
                td NO
              tr
                td Transferencia Mensual
                td Ilimitado
                td 50 GB
                td 1 TB
                td 100 TB
                td SI      
              tr
                td Espacio de Almacenamiento
                td 100 MB
                td 200 MB
                td 300 MB
                td SI
                td NO
              tr
                td Transferencia Mensual
                td Ilimitado
                td 50 GB
                td 1 TB
                td 100 TB
                td SI
              tr
                td Espacio Almacenamiento
                td 100 MB
                td 200 MB
                td 300 MB
                td SI
                td NO
              tr
                td Transferencia Mensual
                td Ilimitado
                td 50 GB
                td 1 TB
                td 100 TB
                td SI
              tr
                td Espacio Almacenamiento
                td 100 MB
                td 200 MB
                td 300 MB
                td SI
                td NO
              tr
                td Transferencia Mensual
                td Ilimitado
                td 50 GB
                td 1 TB
                td 100 TB
                td SI
              tr.last-tr
                td 
                td: a(href='#') Adquirir
                td: a(href='#') Adquirir 
                td: a(href='#') Adquirir
                td: a(href='#') Adquirir
                td: a(href='#') Adquirir