aside#sidebar.col-md-3
  .widget.widget_search
    form
      .input-group
        input.form-control(type="text", placeholder="Buscar...")
        span.input-group-btn
          button.btn.btn-primary(type="submit"): i.fa.fa-search
  .widget.widget_categories
    h4.widget-title Categorías
    ul
      li.cat-item
        a(href="#") Correo 
          span (10)
      li.cat-item
        a(href="#") Plesk (Panel de Control) 
          span (10)
      li.cat-item
        a(href="#") Centova (Panel de Streaming) 
          span (22)
      li.cat-item
        a(href="#") Reseller (Panel Plesk) 
          span (34)
      li.cat-item
        a(href="#") Google Apps 
          span (50)                       
  
  .widget.widget_hosting-wp
    a(href="#")
      h2 HOSTING 
        br
        | WORDPRESS
  .widget.widget_dominio
    a(href="#")
      h2 BUSCA 
        br
        | TU DOMINIO
  .widget.widget_vps
    a(href="#")
      h2 ENCUENTRA
        br
        | TU PLAN VPS 
