aside#sidebar.col-md-3
  .widget.widget_search
    form
      .input-group
        input.form-control(type="text", placeholder="Buscar...")
        span.input-group-btn
          button.btn.btn-primary(type="submit"): i.fa.fa-search
  .widget.widget_categories
    h4.widget-title Categorías
    ul
      li.cat-item
        a(href="#") Blog 
          span (10)
      li.cat-item
        a(href="#") Hosting 
          span (22)
      li.cat-item
        a(href="#") Dominios 
          span (34)
      li.cat-item
        a(href="#") VPS 
          span (50)                       
  .widget.widget_suscription
    h4.widget-title Suscripción
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit consectetur laborum inventore distinctio suscipit dolorum ex dolore, eos pariatur beatae, perspiciatis corporis?
    form
      .input-group
        input.form-control(type="text", placeholder="nombre@dominio.com")
        span.input-group-btn
          button.btn.btn-primary(type="submit"): i.fa.fa-check 
  .widget.widget_hosting-wp
    a(href="#")
      h2 HOSTING 
        br
        | WORDPRESS
  .widget.widget_dominio
    a(href="#")
      h2 BUSCA 
        br
        | TU DOMINIO
  .widget.widget_vps
    a(href="#")
      h2 ENCUENTRA
        br
        | TU PLAN VPS 
